In [0]:
# Replace values with your Azure Storage credentials
storage_account_name = "pysparkstorageaccnt"
storage_account_access_key = "uXDKIkT9KnlL5CSHFqu9auafAdlRXFPDFvWICxSrBvKd6CksPLgNEuzQnlWscUJXmm6kh0xwCx/D+AStSzOnCQ=="
container_name = "pyspark"
mount_point = "/mnt/pysparkcontainer"

In [0]:
# Mount Azure Storage Container to DBFS
if any(mount.mountPoint == mount_point for mount in dbutils.fs.mounts()):
    dbutils.fs.unmount(mount_point)
dbutils.fs.mount(
    source = "wasbs://" + container_name + "@" + storage_account_name + ".blob.core.windows.net",
    mount_point = mount_point,
    extra_configs = {"fs.azure.account.key." + storage_account_name + ".blob.core.windows.net": storage_account_access_key})

/mnt/pysparkcontainer has been unmounted.

True

## What is bigdata?

Big data refers to extremely large and complex datasets that cannot be easily managed or analyzed using traditional data processing tools or methods. These datasets typically contain a wide variety of data types, including structured, semi-structured, and unstructured data, and they may originate from various sources such as sensors, social media platforms, transaction records, mobile devices, and more. The characteristics that define big data are 6 V's
1.Volume
2.Velocity
3.Variety
4.Variability
5.Veracity
6.Value

## Why spark?
Spark is a popular choice for big data processing and analytics for several reasons. 
1. Its speed and performance significantly outpace traditional data processing frameworks like MapReduce due to its in-memory computing capabilities and optimized execution engine. This allows Spark to process large datasets much faster, making it ideal for real-time or near-real-time analytics.
2. Spark offers a rich set of libraries and APIs for various data processing tasks, including SQL queries, machine learning, graph processing, and streaming analytics, enabling a wide range of use cases within a single unified platform. 
3. Spark's compatibility with multiple programming languages such as Scala, Java, Python, and R makes it accessible to a broader audience of developers and data scientists.
4. Spark's fault tolerance and scalability allow it to handle massive datasets and distributed computing environments efficiently, making it well-suited for large-scale data processing tasks in both on-premises and cloud environments.
5. Overall, Spark's combination of speed, versatility, scalability, and ease of use makes it a compelling choice for organizations seeking to derive insights and value from their big data assets.

## What is spark?
1. Apache Spark is an open-source distributed computing system designed for processing and analyzing large-scale datasets. It provides an easy-to-use, unified analytics engine for big data processing, with support for various data processing tasks such as batch processing, real-time stream processing, machine learning, and graph processing.
2. Spark was developed to address the limitations of existing distributed data processing frameworks like MapReduce by introducing in-memory computing and optimized query execution techniques. This allows Spark to achieve significantly faster processing speeds, making it suitable for both interactive data analysis and real-time data processing.
3. One of the key features of Spark is its resilient distributed dataset (RDD) abstraction, which represents data distributed across multiple nodes in a cluster and enables fault tolerance and parallel processing. Spark builds upon RDDs with higher-level APIs like DataFrames and Datasets, providing a more user-friendly interface for data manipulation and analysis.
4. Spark also comes with a rich ecosystem of libraries, including Spark SQL for structured data processing, MLlib for machine learning, GraphX for graph processing, and Spark Streaming for real-time stream processing. These libraries make it easy for developers and data scientists to perform various data processing tasks within the same unified platform.

## Internals of spark?
The internals of Apache Spark involve several key components and concepts that enable its distributed computing capabilities:

1. **Cluster Manager**: Spark can run on various cluster managers like Apache Mesos, Hadoop YARN, or its standalone cluster manager. The cluster manager allocates resources and manages the execution of Spark applications across a cluster of machines.

2. **Driver Program**: The driver program is the main control program that coordinates the execution of a Spark application. It splits the application into tasks and schedules them for execution on the cluster.

3. **Executors**: Executors are worker nodes responsible for running the tasks assigned by the driver program. They manage the execution of tasks and store data in memory or on disk. Executors run within containers managed by the cluster manager.

4. **Resilient Distributed Dataset (RDD)**: RDD is the fundamental data abstraction in Spark, representing an immutable distributed collection of objects across the cluster. RDDs support parallel processing and provide fault tolerance through lineage information, enabling recovery from failures.

5. **Directed Acyclic Graph (DAG) Scheduler**: Spark applications are represented as DAGs of stages, where each stage consists of multiple tasks that can be executed in parallel. The DAG scheduler divides the application into stages and determines their dependencies, optimizing task execution based on data locality and resource availability.

6. **Task Scheduler**: The task scheduler runs tasks on executors in a distributed manner, coordinating task execution based on the DAG schedule generated by the DAG scheduler.

7. **Memory Management**: Spark utilizes memory for caching RDDs and intermediate data during computation, improving performance by reducing the need for disk I/O. Memory management includes components like the Spark Memory Manager, which oversees memory allocation and eviction, and the Block Manager, which manages data storage and retrieval.

8. **Optimization**: Spark performs various optimizations to improve performance, including query optimization in Spark SQL, data partitioning, and pipelining of operations to minimize data movement across the network.

Understanding these internals helps developers and administrators optimize Spark applications for performance and scalability in distributed computing environments.

## Highlevel API of spark?
Apache Spark provides several high-level APIs that abstract away the complexities of distributed computing and enable developers to write concise and efficient code for various data processing tasks. Some of the main high-level APIs in Spark include:

1. **Spark SQL**: Spark SQL provides a domain-specific language (DSL) and APIs for working with structured data, enabling developers to execute SQL queries, manipulate DataFrames and Datasets, and perform relational and procedural operations on structured data. Spark SQL seamlessly integrates with other Spark components, allowing SQL queries to be executed on RDDs, DataFrames, or Datasets.

2. **DataFrame API**: DataFrame API provides a higher-level abstraction for working with structured data in Spark. DataFrames are distributed collections of data organized into named columns, similar to tables in a relational database. The DataFrame API offers a rich set of operations for data manipulation, filtering, aggregation, joining, and more, making it easy to perform complex data transformations using a familiar tabular format.

3. **Dataset API**: Dataset API is an extension of the DataFrame API that provides type-safe, object-oriented programming interfaces for working with structured and semi-structured data in Spark. Datasets combine the benefits of DataFrames (high-level abstraction, optimization, and query optimization) with the benefits of RDDs (type safety, object-oriented programming), allowing developers to write expressive, efficient, and type-safe code for data processing tasks.

4. **Spark MLlib (Machine Learning Library)**: Spark MLlib is a scalable machine learning library built on top of Spark that provides a wide range of algorithms and tools for machine learning and data mining tasks. MLlib offers APIs for building, training, evaluating, and deploying machine learning models on large-scale datasets, enabling developers to perform tasks such as classification, regression, clustering, collaborative filtering, and more.

5. **Spark GraphX**: Spark GraphX is a distributed graph processing library built on top of Spark that provides APIs for building and executing graph algorithms on large-scale graphs. GraphX enables developers to create and manipulate graph structures, perform graph computation and analysis, and implement graph algorithms such as PageRank, connected components, shortest paths, and more, using a scalable and fault-tolerant framework.

These high-level APIs abstract away the complexities of distributed computing and provide developers with powerful tools and abstractions for building scalable, efficient, and expressive data processing and analytics applications in Spark.

In [0]:
import pyspark
from pyspark.sql import SparkSession
conf=pyspark.SparkConf()
spark = SparkSession.builder.config(conf=conf).appName('Test').getOrCreate()

In [0]:
myRange = spark.range(1000).toDF("number")

In [0]:
myRange.show()

+------+
|number|
+------+
|     0|
|     1|
|     2|
|     3|
|     4|
|     5|
|     6|
|     7|
|     8|
|     9|
|    10|
|    11|
|    12|
|    13|
|    14|
|    15|
|    16|
|    17|
|    18|
|    19|
+------+
only showing top 20 rows

In [0]:
flightData2015 = spark\
.read\
.option("inferSchema", "true")\
.option("header", "true")\
.csv("/mnt/pysparkcontainer/2015-summary.csv")

In [0]:
flightData2015.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|   15|
|       United States|            Croatia|    1|
|       United States|            Ireland|  344|
|               Egypt|      United States|   15|
|       United States|              India|   62|
|       United States|          Singapore|    1|
|       United States|            Grenada|   62|
|          Costa Rica|      United States|  588|
|             Senegal|      United States|   40|
|             Moldova|      United States|    1|
|       United States|       Sint Maarten|  325|
|       United States|   Marshall Islands|   39|
|              Guyana|      United States|   64|
|               Malta|      United States|    1|
|            Anguilla|      United States|   41|
|             Bolivia|      United States|   30|
|       United States|           Paraguay|    6|
|             Algeria|      United States|    4|
|Turks and Caicos ...|      United States|  230|
|       United States|          Gibraltar|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [0]:
flightData2015.sort("count").explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Sort [count#19538 ASC NULLS FIRST], true, 0
   +- Exchange rangepartitioning(count#19538 ASC NULLS FIRST, 20), ENSURE_REQUIREMENTS, [plan_id=11880]
      +- FileScan csv [DEST_COUNTRY_NAME#19536,ORIGIN_COUNTRY_NAME#19537,count#19538] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[dbfs:/mnt/pysparkcontainer/2015-summary.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string,ORIGIN_COUNTRY_NAME:string,count:int>

In [0]:
flightData2015.take(5)

[Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Romania', count=15),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Croatia', count=1),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Ireland', count=344),
 Row(DEST_COUNTRY_NAME='Egypt', ORIGIN_COUNTRY_NAME='United States', count=15),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='India', count=62)]

In [0]:
spark.conf.set("spark.sql.shuffle.partitions", "5")

In [0]:
flightData2015.sort("count").take(2)

[Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Singapore', count=1),
 Row(DEST_COUNTRY_NAME='Moldova', ORIGIN_COUNTRY_NAME='United States', count=1)]

In [0]:
flightData2015.createOrReplaceTempView("flight_data_2015")

In [0]:
sqlWay = spark.sql("""
SELECT DEST_COUNTRY_NAME, count(1)
FROM flight_data_2015
GROUP BY DEST_COUNTRY_NAME
""")

dataFrameWay = flightData2015\
.groupBy("DEST_COUNTRY_NAME")\
.count()

sqlWay.explain()
dataFrameWay.explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[DEST_COUNTRY_NAME#19536], functions=[finalmerge_count(merge count#19577L) AS count(1)#19565L])
   +- Exchange hashpartitioning(DEST_COUNTRY_NAME#19536, 5), ENSURE_REQUIREMENTS, [plan_id=11916]
      +- HashAggregate(keys=[DEST_COUNTRY_NAME#19536], functions=[partial_count(1) AS count#19577L])
         +- FileScan csv [DEST_COUNTRY_NAME#19536] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[dbfs:/mnt/pysparkcontainer/2015-summary.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string>


== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[DEST_COUNTRY_NAME#19536], functions=[finalmerge_count(merge count#19579L) AS count(1)#19572L])
   +- Exchange hashpartitioning(DEST_COUNTRY_NAME#19536, 5), ENSURE_REQUIREMENTS, [plan_id=11936]
      +- HashAggregate(keys=[DEST_COUNTRY_NAME#19536], functions=[partial_count(1) AS count#19579L])
         +- FileScan csv [DEST_COUNTRY_NAME#19536] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[dbfs:/mnt/pysparkcontainer/2015-summary.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string>

In [0]:
spark.sql("SELECT max(count) from flight_data_2015").take(1)

[Row(max(count)=370002)]

In [0]:
from pyspark.sql.functions import max
flightData2015.select(max("count")).take(1)

[Row(max(count)=370002)]

maxSql = spark.sql("""
SELECT DEST_COUNTRY_NAME, sum(count) as destination_total
FROM flight_data_2015
GROUP BY DEST_COUNTRY_NAME
ORDER BY sum(count) DESC
LIMIT 5
""")
maxSql.show()

In [0]:
from pyspark.sql.functions import desc
flightData2015\
.groupBy("DEST_COUNTRY_NAME")\
.sum("count")\
.withColumnRenamed("sum(count)", "destination_total")\
.sort(desc("destination_total"))\
.limit(5)\
.show()

+-----------------+-----------------+
|DEST_COUNTRY_NAME|destination_total|
+-----------------+-----------------+
|    United States|           411352|
|           Canada|             8399|
|           Mexico|             7140|
|   United Kingdom|             2025|
|            Japan|             1548|
+-----------------+-----------------+

![image.png](attachment:44006774-07f1-4691-80df-0807b4af307e.png)

In [0]:
staticDataFrame = spark.read.format("csv")\
.option("header", "true")\
.option("inferSchema", "true")\
.load("mnt/pysparkcontainer/retail-data_by-day/*.csv")
staticDataFrame.createOrReplaceTempView("retail_data")
staticSchema = staticDataFrame.schema

In [0]:
from pyspark.sql.functions import window, column, desc, col
staticDataFrame\
.selectExpr(
"CustomerId",
"(UnitPrice * Quantity) as total_cost",
"InvoiceDate")\
.groupBy(
col("CustomerId"), window(col("InvoiceDate"), "1 day"))\
.sum("total_cost")\
.show(5)

+----------+--------------------+------------------+
|CustomerId|              window|   sum(total_cost)|
+----------+--------------------+------------------+
|   14075.0|{2011-12-05 00:00...|316.78000000000003|
|   18180.0|{2011-12-05 00:00...|            310.73|
|   15358.0|{2011-12-05 00:00...| 830.0600000000003|
|   15392.0|{2011-12-05 00:00...|304.40999999999997|
|   15290.0|{2011-12-05 00:00...|263.02000000000004|
+----------+--------------------+------------------+
only showing top 5 rows

In [0]:
spark.conf.set("spark.sql.shuffle.partitions","5")

In [0]:
streamingDataFrame = spark.readStream\
.schema(staticSchema)\
.option("maxFilesPerTrigger", 1)\
.format("csv")\
.option("header", "true")\
.load("mnt/pysparkcontainer/retail-data_by-day/*.csv")

In [0]:
streamingDataFrame.isStreaming

True

In [0]:
purchaseByCustomerPerHour = streamingDataFrame\
.selectExpr(
"CustomerId",
"(UnitPrice * Quantity) as total_cost",
"InvoiceDate")\
.groupBy(
col("CustomerId"), window(col("InvoiceDate"), "1 day"))\
.sum("total_cost")

In [0]:
staticDataFrame.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: timestamp (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: double (nullable = true)
 |-- Country: string (nullable = true)

In [0]:
from pyspark.sql.functions import date_format, col
preppedDataFrame = staticDataFrame\
.na.fill(0)\
.withColumn("day_of_week", date_format(col("InvoiceDate"), "EEEE"))\
.coalesce(5)

In [0]:
trainDataFrame = preppedDataFrame\
.where("InvoiceDate < '2011-07-01'")
testDataFrame = preppedDataFrame\
.where("InvoiceDate >= '2011-07-01'")

In [0]:
print(trainDataFrame.count())
print(testDataFrame.count())

245903
296006

In [0]:
from pyspark.ml.feature import StringIndexer
indexer = StringIndexer()\
.setInputCol("day_of_week")\
.setOutputCol("day_of_week_index")

In [0]:
from pyspark.ml.feature import OneHotEncoder
encoder = OneHotEncoder()\
.setInputCol("day_of_week_index")\
.setOutputCol("day_of_week_encoded")

In [0]:
from pyspark.ml.feature import VectorAssembler
vectorAssembler = VectorAssembler()\
.setInputCols(["UnitPrice", "Quantity", "day_of_week_encoded"])\
.setOutputCol("features")

In [0]:
from pyspark.ml import Pipeline
transformationPipeline = Pipeline()\
.setStages([indexer, encoder, vectorAssembler])

In [0]:
fittedPipeline = transformationPipeline.fit(trainDataFrame)

In [0]:
transformedTraining = fittedPipeline.transform(trainDataFrame)
transformedTest = fittedPipeline.transform(testDataFrame)

In [0]:
from pyspark.ml.clustering import KMeans
kmeans = KMeans()\
.setK(20)\
.setSeed(1)

In [0]:
kmModel = kmeans.fit(transformedTraining)

In [0]:
from pyspark.ml.evaluation import ClusteringEvaluator
evaluator = ClusteringEvaluator()
silhouette = evaluator.evaluate(kmModel.transform(transformedTest))
print("Silhouette with squared euclidean distance = " + str(silhouette))

Silhouette with squared euclidean distance = 0.9606170087900685

In [0]:
from pyspark.sql import Row
spark.sparkContext.parallelize([Row(1), Row(2), Row(3)]).toDF()

DataFrame[_1: bigint]

Chapter 4

In [0]:
df = spark.range(500).toDF("number")
df.select(df["number"] + 10)

DataFrame[(number + 10): bigint]

In [0]:
spark.range(2).collect()

[Row(id=0), Row(id=1)]

# Chapter 5

In [0]:
df = spark.read.format("json").load("/mnt/pysparkcontainer/flight-data_json/2015-summary.json")

In [0]:
df.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: long (nullable = true)

In [0]:
spark.read.format("json").load("/mnt/pysparkcontainer/flight-data_json/2015-summary.json").schema

StructType([StructField('DEST_COUNTRY_NAME', StringType(), True), StructField('ORIGIN_COUNTRY_NAME', StringType(), True), StructField('count', LongType(), True)])

In [0]:
from pyspark.sql.types import StructField, StructType, StringType, LongType
myManualSchema = StructType([
StructField("DEST_COUNTRY_NAME", StringType(), True),
StructField("ORIGIN_COUNTRY_NAME", StringType(), True),
StructField("count", LongType(), False, metadata={"hello":"world"})
])
df = spark.read.format("json").schema(myManualSchema)\
.load("/mnt/pysparkcontainer/flight-data_json/2015-summary.json")

#### columns

In [0]:
from pyspark.sql.functions import col, column
col("someColumnName")
column("someColumnName")

Column<'someColumnName'>

In [0]:
df.columns

['DEST_COUNTRY_NAME', 'ORIGIN_COUNTRY_NAME', 'count']

#### Expressions

In [0]:
(((col("someCol") + 5) * 200) - 6) < col("otherCol")

Column<'((((someCol + 5) * 200) - 6) < otherCol)'>

In [0]:
from pyspark.sql.functions import expr
expr("(((someCol + 5) * 200) - 6) < otherCol")

Column<'((((someCol + 5) * 200) - 6) < otherCol)'>

#### Creating Rows

In [0]:
from pyspark.sql import Row
myRow = Row("Hello", None, 1, False)

In [0]:
print(myRow[0])
print(myRow[2])

Hello
1

#### Creating DataFrames

In [0]:
df = spark.read.format("json").load("/mnt/pysparkcontainer/flight-data_json/2015-summary.json")
df.createOrReplaceTempView("dfTable")

We can also create DataFrames on the fly by taking a set of rows and converting them to a
DataFrame.

In [0]:
from pyspark.sql import Row
from pyspark.sql.types import StructField, StructType, StringType, LongType
myManualSchema = StructType([
StructField("some", StringType(), True),
StructField("col", StringType(), True),
StructField("names", LongType(), False)
])
myRow = Row("Hello", None, 1)
myDf = spark.createDataFrame([myRow], myManualSchema)
myDf.show()

+-----+----+-----+
| some| col|names|
+-----+----+-----+
|Hello|NULL|    1|
+-----+----+-----+

In [0]:
df.select("DEST_COUNTRY_NAME").show(2)

+-----------------+
|DEST_COUNTRY_NAME|
+-----------------+
|    United States|
|    United States|
+-----------------+
only showing top 2 rows

In [0]:
df.select("DEST_COUNTRY_NAME", "ORIGIN_COUNTRY_NAME").show(2)

+-----------------+-------------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|
+-----------------+-------------------+
|    United States|            Romania|
|    United States|            Croatia|
+-----------------+-------------------+
only showing top 2 rows

Different ways of referring columns

In [0]:
from pyspark.sql.functions import expr, col, column
df.select(
expr("DEST_COUNTRY_NAME"),
col("DEST_COUNTRY_NAME"),
column("DEST_COUNTRY_NAME"))\
.show(2)

+-----------------+-----------------+-----------------+
|DEST_COUNTRY_NAME|DEST_COUNTRY_NAME|DEST_COUNTRY_NAME|
+-----------------+-----------------+-----------------+
|    United States|    United States|    United States|
|    United States|    United States|    United States|
+-----------------+-----------------+-----------------+
only showing top 2 rows

In [0]:
df.select(col("DEST_COUNTRY_NAME"), "DEST_COUNTRY_NAME")

DataFrame[DEST_COUNTRY_NAME: string, DEST_COUNTRY_NAME: string]

In [0]:
df.select(expr("DEST_COUNTRY_NAME AS destination")).show(2)

+-------------+
|  destination|
+-------------+
|United States|
|United States|
+-------------+
only showing top 2 rows

In [0]:
df.select(expr("DEST_COUNTRY_NAME as destination").alias("DEST_COUNTRY_NAME"))\
.show(2)

+-----------------+
|DEST_COUNTRY_NAME|
+-----------------+
|    United States|
|    United States|
+-----------------+
only showing top 2 rows

Because select followed by a series of expr is such a common pattern, Spark has a shorthand
for doing this efficiently: selectExpr

In [0]:
df.selectExpr("DEST_COUNTRY_NAME as newColumnName", "DEST_COUNTRY_NAME").show(2)

+-------------+-----------------+
|newColumnName|DEST_COUNTRY_NAME|
+-------------+-----------------+
|United States|    United States|
|United States|    United States|
+-------------+-----------------+
only showing top 2 rows

In [0]:
df.selectExpr(
"*", # all original columns
"(DEST_COUNTRY_NAME = ORIGIN_COUNTRY_NAME) as withinCountry")\
.show(2)

+-----------------+-------------------+-----+-------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|withinCountry|
+-----------------+-------------------+-----+-------------+
|    United States|            Romania|   15|        false|
|    United States|            Croatia|    1|        false|
+-----------------+-------------------+-----+-------------+
only showing top 2 rows

#### Converting to Spark Types - Literals

Sometimes, we need to pass explicit values into Spark that are just a value (rather than a new
column). This might be a constant value or something well need to compare to later on. The
way we do this is through literals

In [0]:
from pyspark.sql.functions import lit
df.select(expr("*"), lit(1).alias("One")).show(2)

+-----------------+-------------------+-----+---+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|One|
+-----------------+-------------------+-----+---+
|    United States|            Romania|   15|  1|
|    United States|            Croatia|    1|  1|
+-----------------+-------------------+-----+---+
only showing top 2 rows

#### Adding, Renaming and Removing columns

In [0]:
df.withColumn("numberOne", lit(1)).show(2)

+-----------------+-------------------+-----+---------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|numberOne|
+-----------------+-------------------+-----+---------+
|    United States|            Romania|   15|        1|
|    United States|            Croatia|    1|        1|
+-----------------+-------------------+-----+---------+
only showing top 2 rows

In [0]:
df.withColumn("withinCountry", expr("ORIGIN_COUNTRY_NAME == DEST_COUNTRY_NAME"))\
.show(2)

+-----------------+-------------------+-----+-------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|withinCountry|
+-----------------+-------------------+-----+-------------+
|    United States|            Romania|   15|        false|
|    United States|            Croatia|    1|        false|
+-----------------+-------------------+-----+-------------+
only showing top 2 rows

In [0]:
df.withColumnRenamed("DEST_COUNTRY_NAME", "dest").columns

['dest', 'ORIGIN_COUNTRY_NAME', 'count']

In [0]:
df.drop("ORIGIN_COUNTRY_NAME").columns

['DEST_COUNTRY_NAME', 'count']

Changing datatype of column

In [0]:
df.withColumn("count2", col("count").cast("long"))

DataFrame[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string, count: bigint, count2: bigint]

#### Filtering

In [0]:
df.filter(col("count") < 2).show(2)
df.where("count < 2").show(2)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Croatia|    1|
|    United States|          Singapore|    1|
+-----------------+-------------------+-----+
only showing top 2 rows

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Croatia|    1|
|    United States|          Singapore|    1|
+-----------------+-------------------+-----+
only showing top 2 rows

In [0]:
df.where(col("count") < 2).where(col("ORIGIN_COUNTRY_NAME") != "Croatia")\
.show(2)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|          Singapore|    1|
|          Moldova|      United States|    1|
+-----------------+-------------------+-----+
only showing top 2 rows

Unique rows

In [0]:
df.select("ORIGIN_COUNTRY_NAME", "DEST_COUNTRY_NAME").distinct().count()

256

In [0]:
df.select("ORIGIN_COUNTRY_NAME").distinct().count()

125

#### Random Samples

In [0]:
seed = 5
withReplacement = False
fraction = 0.5
df.sample(withReplacement, fraction, seed).count()

138

#### Union

DataFrames are immutable. This means users cannot
append to DataFrames because that would be changing it. To append to a DataFrame, you must
union the original DataFrame along with the new DataFrame
To union two DataFrames, you must be sure that they have the same schema and
number of columns; otherwise, the union will fail.

In [0]:
from pyspark.sql import Row
schema = df.schema
newRows = [
Row("New Country", "Other Country", 5),
Row("New Country 2", "Other Country 3", 1)
]
parallelizedRows = spark.sparkContext.parallelize(newRows)
newDF = spark.createDataFrame(parallelizedRows, schema)
newDF.show()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|      New Country|      Other Country|    5|
|    New Country 2|    Other Country 3|    1|
+-----------------+-------------------+-----+

In [0]:
df.union(newDF)\
.where("count = 1")\
.where(col("ORIGIN_COUNTRY_NAME") != "United States")\
.show()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Croatia|    1|
|    United States|          Singapore|    1|
|    United States|          Gibraltar|    1|
|    United States|             Cyprus|    1|
|    United States|            Estonia|    1|
|    United States|          Lithuania|    1|
|    United States|           Bulgaria|    1|
|    United States|            Georgia|    1|
|    United States|            Bahrain|    1|
|    United States|   Papua New Guinea|    1|
|    United States|         Montenegro|    1|
|    United States|            Namibia|    1|
|    New Country 2|    Other Country 3|    1|
+-----------------+-------------------+-----+

#### Sorting rows

In [0]:
df.sort("count").show(5)
df.orderBy("count", "DEST_COUNTRY_NAME").show(5)
df.orderBy(col("count"), col("DEST_COUNTRY_NAME")).show(5)

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|               Malta|      United States|    1|
|Saint Vincent and...|      United States|    1|
|       United States|            Croatia|    1|
|       United States|          Gibraltar|    1|
|       United States|          Singapore|    1|
+--------------------+-------------------+-----+
only showing top 5 rows

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|     Burkina Faso|      United States|    1|
|    Cote d'Ivoire|      United States|    1|
|           Cyprus|      United States|    1|
|         Djibouti|      United States|    1|
|        Indonesia|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|     Burkina Faso|      United States|    1|
|    Cote d'Ivoire|      United States|    1|
|           Cyprus|      United States|    1|
|         Djibouti|      United States|    1|
|        Indonesia|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

In [0]:
from pyspark.sql.functions import desc, asc
df.orderBy(expr("count desc")).show(2)
df.orderBy(col("count").desc(), col("DEST_COUNTRY_NAME").asc()).show(2)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|          Moldova|      United States|    1|
|    United States|            Croatia|    1|
+-----------------+-------------------+-----+
only showing top 2 rows

+-----------------+-------------------+------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME| count|
+-----------------+-------------------+------+
|    United States|      United States|370002|
|    United States|             Canada|  8483|
+-----------------+-------------------+------+
only showing top 2 rows

#### Partitions and Coalesce

Another important optimization opportunity is to partition the data according to some frequently
filtered columns, which control the physical layout of data across the cluster including the
partitioning scheme and the number of partitions.
Repartition will incur a full shuffle of the data, regardless of whether one is necessary.

In [0]:
df.rdd.getNumPartitions()

1

In [0]:
df.repartition(5)

DataFrame[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string, count: bigint]

In [0]:
df.repartition(col("DEST_COUNTRY_NAME"))

DataFrame[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string, count: bigint]

In [0]:
df.repartition(5, col("DEST_COUNTRY_NAME"))

DataFrame[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string, count: bigint]

Coalesce, on the other hand, will not incur a full shuffle and will try to combine partitions.

In [0]:
df.repartition(5, col("DEST_COUNTRY_NAME")).coalesce(2)

DataFrame[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string, count: bigint]

#### Collecting Rows to the Driver

There are
times when youll want to collect some of your data to the driver in order to manipulate it on
your local machine.

In [0]:
collectDF = df.limit(10)
collectDF.take(5) # take works with an Integer count
collectDF.show() # this prints it out nicely
collectDF.show(5, False)
collectDF.collect()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
|    United States|          Singapore|    1|
|    United States|            Grenada|   62|
|       Costa Rica|      United States|  588|
|          Senegal|      United States|   40|
|          Moldova|      United States|    1|
+-----------------+-------------------+-----+

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|United States    |Romania            |15   |
|United States    |Croatia            |1    |
|United States    |Ireland            |344  |
|Egypt            |United States      |15   |
|United States    |India              |62   |
+-----------------+-------------------+-----+
only showing top 5 rows

[Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Romania', count=15),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Croatia', count=1),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Ireland', count=344),
 Row(DEST_COUNTRY_NAME='Egypt', ORIGIN_COUNTRY_NAME='United States', count=15),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='India', count=62),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Singapore', count=1),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Grenada', count=62),
 Row(DEST_COUNTRY_NAME='Costa Rica', ORIGIN_COUNTRY_NAME='United States', count=588),
 Row(DEST_COUNTRY_NAME='Senegal', ORIGIN_COUNTRY_NAME='United States', count=40),
 Row(DEST_COUNTRY_NAME='Moldova', ORIGIN_COUNTRY_NAME='United States', count=1)]

# Chapter 6

In [0]:
df = spark.read.format("csv")\
.option("header", "true")\
.option("inferSchema", "true")\
.load("/mnt/pysparkcontainer/retail-data_by-day/2010-12-01.csv")
df.printSchema()
df.createOrReplaceTempView("dfTable")

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: timestamp (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: double (nullable = true)
 |-- Country: string (nullable = true)

In [0]:
from pyspark.sql.functions import lit
df.select(lit(5), lit("five"), lit(5.0)).show(5)

+---+----+---+
|  5|five|5.0|
+---+----+---+
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
+---+----+---+
only showing top 5 rows

#### Booleans

In [0]:
from pyspark.sql.functions import col
df.where(col("InvoiceNo") != 536365)\
.select("InvoiceNo", "Description")\
.show(5, False)

+---------+-----------------------------+
|InvoiceNo|Description                  |
+---------+-----------------------------+
|536366   |HAND WARMER UNION JACK       |
|536366   |HAND WARMER RED POLKA DOT    |
|536367   |ASSORTED COLOUR BIRD ORNAMENT|
|536367   |POPPY'S PLAYHOUSE BEDROOM    |
|536367   |POPPY'S PLAYHOUSE KITCHEN    |
+---------+-----------------------------+
only showing top 5 rows

The instr function is used to find the occurrence of a substring within a string column.
It returns 1 if the substring is found in string, returns 0 otherwise

In [0]:
from pyspark.sql.functions import instr
priceFilter = col("UnitPrice") > 600
descripFilter = instr(df.Description, "POSTAGE") >= 1
df.where(df.StockCode.isin("DOT")).where(priceFilter | descripFilter).show()

+---------+---------+--------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|   Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------+--------+-------------------+---------+----------+--------------+
|   536544|      DOT|DOTCOM POSTAGE|       1|2010-12-01 14:32:00|   569.77|      NULL|United Kingdom|
|   536592|      DOT|DOTCOM POSTAGE|       1|2010-12-01 17:06:00|   607.49|      NULL|United Kingdom|
+---------+---------+--------------+--------+-------------------+---------+----------+--------------+

In [0]:
from pyspark.sql.functions import instr
DOTCodeFilter = col("StockCode") == "DOT"
priceFilter = col("UnitPrice") > 600
descripFilter = instr(col("Description"), "POSTAGE") >= 1
df.withColumn("isExpensive", DOTCodeFilter & (priceFilter | descripFilter))\
.where("isExpensive")\
.select("unitPrice", "isExpensive").show(5)

+---------+-----------+
|unitPrice|isExpensive|
+---------+-----------+
|   569.77|       true|
|   607.49|       true|
+---------+-----------+

#### Working with numbers

In [0]:
from pyspark.sql.functions import expr, pow
fabricatedQuantity = pow(col("Quantity") * col("UnitPrice"), 2) + 5
df.select(expr("CustomerId"), fabricatedQuantity.alias("realQuantity")).show(2)

+----------+------------------+
|CustomerId|      realQuantity|
+----------+------------------+
|   17850.0|239.08999999999997|
|   17850.0|          418.7156|
+----------+------------------+
only showing top 2 rows

In [0]:
df.selectExpr(
"CustomerId",
"(POWER((Quantity * UnitPrice), 2.0) + 5) as realQuantity").show(2)

+----------+------------------+
|CustomerId|      realQuantity|
+----------+------------------+
|   17850.0|239.08999999999997|
|   17850.0|          418.7156|
+----------+------------------+
only showing top 2 rows

In [0]:
from pyspark.sql.functions import round, bround
df.select(round(col("UnitPrice"), 1).alias("rounded"), col("UnitPrice")).show(5)

+-------+---------+
|rounded|UnitPrice|
+-------+---------+
|    2.6|     2.55|
|    3.4|     3.39|
|    2.8|     2.75|
|    3.4|     3.39|
|    3.4|     3.39|
+-------+---------+
only showing top 5 rows

In [0]:
df.select(round(lit("2.5")), bround(lit("2.5"))).show(2)

+-------------+--------------+
|round(2.5, 0)|bround(2.5, 0)|
+-------------+--------------+
|          3.0|           2.0|
|          3.0|           2.0|
+-------------+--------------+
only showing top 2 rows

In [0]:
from pyspark.sql.functions import corr
df.stat.corr("Quantity", "UnitPrice")
df.select(corr("Quantity", "UnitPrice")).show()

+-------------------------+
|corr(Quantity, UnitPrice)|
+-------------------------+
|     -0.04112314436835551|
+-------------------------+

In [0]:
df.describe().show()

+-------+-----------------+------------------+--------------------+------------------+------------------+------------------+--------------+
|summary|        InvoiceNo|         StockCode|         Description|          Quantity|         UnitPrice|        CustomerID|       Country|
+-------+-----------------+------------------+--------------------+------------------+------------------+------------------+--------------+
|  count|             3108|              3108|                3098|              3108|              3108|              1968|          3108|
|   mean| 536516.684944841|27834.304044117645|                NULL| 8.627413127413128| 4.151946589446603|15661.388719512195|          NULL|
| stddev|72.89447869788873|17407.897548583845|                NULL|26.371821677029203|15.638659854603892|1854.4496996893627|          NULL|
|    min|           536365|             10002| 4 PURPLE FLOCK D...|               -24|               0.0|           12431.0|     Australia|
|    max|          C536548|              POST|ZINC WILLIE WINKI...|               600|            607.49|           18229.0|United Kingdom|
+-------+-----------------+------------------+--------------------+------------------+------------------+------------------+--------------+

In [0]:
colName = "UnitPrice"
quantileProbs = [0.5]
relError = 0.05
df.stat.approxQuantile("UnitPrice", quantileProbs, relError)

[2.51]

In [0]:
df.stat.crosstab("StockCode", "Quantity").show()

+------------------+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
|StockCode_Quantity| -1|-10|-12| -2|-24| -3| -4| -5| -6| -7|  1| 10|100| 11| 12|120|128| 13| 14|144| 15| 16| 17| 18| 19|192|  2| 20|200| 21|216| 22| 23| 24| 25|252| 27| 28|288|  3| 30| 32| 33| 34| 36|384|  4| 40|432| 47| 48|480|  5| 50| 56|  6| 60|600| 64|  7| 70| 72|  8| 80|  9| 96|
+------------------+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
|            84029E|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  3|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  1|  0|  0|  0|  0|  0|  0|  0|  0|  5|  0|  0|  0|  0|  0|  0|  1|  0|  0|  1|
|             22386|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  2|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             21931|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  2|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             84854|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             22771|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  2|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             21557|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             22379|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  2|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             21340|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  3|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|            85099B|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  4|  1|  2|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|
|             22779|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|
|             22962|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  2|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             22556|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             21983|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             21891|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  3|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             22110|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             82581|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             22964|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             20717|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  2|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             22328|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             22630|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
+------------------+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
only showing top 20 rows

In [0]:
df.stat.freqItems(["StockCode", "Quantity"]).show()

+--------------------+--------------------+
| StockCode_freqItems|  Quantity_freqItems|
+--------------------+--------------------+
|[22086, 21705, 72...|[200, 128, 23, 50...|
+--------------------+--------------------+

In [0]:
from pyspark.sql.functions import monotonically_increasing_id
df.select(monotonically_increasing_id()).show(2)

+-----------------------------+
|monotonically_increasing_id()|
+-----------------------------+
|                            0|
|                            1|
+-----------------------------+
only showing top 2 rows

#### Working with strings

In [0]:
from pyspark.sql.functions import initcap
df.select(initcap(col("Description"))).show()

+--------------------+
|initcap(Description)|
+--------------------+
|White Hanging Hea...|
| White Metal Lantern|
|Cream Cupid Heart...|
|Knitted Union Fla...|
|Red Woolly Hottie...|
|Set 7 Babushka Ne...|
|Glass Star Froste...|
|Hand Warmer Union...|
|Hand Warmer Red P...|
|Assorted Colour B...|
|Poppy's Playhouse...|
|Poppy's Playhouse...|
|Feltcraft Princes...|
|Ivory Knitted Mug...|
|Box Of 6 Assorted...|
|Box Of Vintage Ji...|
|Box Of Vintage Al...|
|Home Building Blo...|
|Love Building Blo...|
|Recipe Box With M...|
+--------------------+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import lower, upper
df.select(col("Description"),
lower(col("Description")),
upper(lower(col("Description")))).show(2)

+--------------------+--------------------+-------------------------+
|         Description|  lower(Description)|upper(lower(Description))|
+--------------------+--------------------+-------------------------+
|WHITE HANGING HEA...|white hanging hea...|     WHITE HANGING HEA...|
| WHITE METAL LANTERN| white metal lantern|      WHITE METAL LANTERN|
+--------------------+--------------------+-------------------------+
only showing top 2 rows

In [0]:
from pyspark.sql.functions import lit, ltrim, rtrim, rpad, lpad, trim
df.select(
ltrim(lit(" HELLO ")).alias("ltrim"),
rtrim(lit(" HELLO ")).alias("rtrim"),
trim(lit(" HELLO ")).alias("trim"),
lpad(lit("HELLO"), 3, " ").alias("lp"),
rpad(lit("HELLO"), 10, " ").alias("rp")).show(2)

+------+------+-----+---+----------+
| ltrim| rtrim| trim| lp|        rp|
+------+------+-----+---+----------+
|HELLO | HELLO|HELLO|HEL|HELLO     |
|HELLO | HELLO|HELLO|HEL|HELLO     |
+------+------+-----+---+----------+
only showing top 2 rows

#### Regular Expressions
one of the most frequently performed tasks is searching for the existence of one string
in another or replacing all mentions of a string with another value. This is often done with a tool
called regular expressions that exists in many programming languages. Regular expressions give
the user an ability to specify a set of rules to use to either extract values from a string or replace
them with some other values.

In [0]:
from pyspark.sql.functions import regexp_replace
regex_string = "BLACK|WHITE|RED|GREEN|BLUE"
df.select(
regexp_replace(col("Description"), regex_string, "COLOR").alias("color_clean"),
col("Description")).show(2)

+--------------------+--------------------+
|         color_clean|         Description|
+--------------------+--------------------+
|COLOR HANGING HEA...|WHITE HANGING HEA...|
| COLOR METAL LANTERN| WHITE METAL LANTERN|
+--------------------+--------------------+
only showing top 2 rows

In [0]:
from pyspark.sql.functions import translate
df.select(translate(col("Description"), "LEET", "1337"),col("Description"))\
.show(2)

+----------------------------------+--------------------+
|translate(Description, LEET, 1337)|         Description|
+----------------------------------+--------------------+
|              WHI73 HANGING H3A...|WHITE HANGING HEA...|
|               WHI73 M37A1 1AN73RN| WHITE METAL LANTERN|
+----------------------------------+--------------------+
only showing top 2 rows

In [0]:
from pyspark.sql.functions import regexp_extract
extract_str = "(BLACK|WHITE|RED|GREEN|BLUE)"
df.select(
regexp_extract(col("Description"), extract_str, 1).alias("color_clean"),
col("Description")).show(2)

+-----------+--------------------+
|color_clean|         Description|
+-----------+--------------------+
|      WHITE|WHITE HANGING HEA...|
|      WHITE| WHITE METAL LANTERN|
+-----------+--------------------+
only showing top 2 rows

In [0]:
from pyspark.sql.functions import instr
containsBlack = instr(col("Description"), "BLACK") >= 1
containsWhite = instr(col("Description"), "WHITE") >= 1
df.withColumn("hasSimpleColor", containsBlack | containsWhite)\
.where("hasSimpleColor")\
.select("hasSimpleColor","Description").show(3, False)

+--------------+----------------------------------+
|hasSimpleColor|Description                       |
+--------------+----------------------------------+
|true          |WHITE HANGING HEART T-LIGHT HOLDER|
|true          |WHITE METAL LANTERN               |
|true          |RED WOOLLY HOTTIE WHITE HEART.    |
+--------------+----------------------------------+
only showing top 3 rows

In [0]:
from pyspark.sql.functions import expr, locate
simpleColors = ["black", "white", "red", "green", "blue"]
def color_locator(column, color_string):
    return locate(color_string.upper(), column)\
        .cast("boolean")\
        .alias("is_" + color_string)
selectedColumns = [color_locator(df.Description, c) for c in simpleColors]
selectedColumns.append(expr("*")) # has to a be Column type
df.select(*selectedColumns).where(expr("is_white OR is_red"))\
.select("Description").show(3, False)

+----------------------------------+
|Description                       |
+----------------------------------+
|WHITE HANGING HEART T-LIGHT HOLDER|
|WHITE METAL LANTERN               |
|RED WOOLLY HOTTIE WHITE HEART.    |
+----------------------------------+
only showing top 3 rows

#### DateTime
Spark will not throw an error if it cannot parse the date; rather, it will just return null

In [0]:
from pyspark.sql.functions import current_date, current_timestamp
dateDF = spark.range(10)\
.withColumn("today", current_date())\
.withColumn("now", current_timestamp())
dateDF.createOrReplaceTempView("dateTable")
dateDF.printSchema()
dateDF.show()

root
 |-- id: long (nullable = false)
 |-- today: date (nullable = false)
 |-- now: timestamp (nullable = false)

+---+----------+--------------------+
| id|     today|                 now|
+---+----------+--------------------+
|  0|2024-05-22|2024-05-22 05:58:...|
|  1|2024-05-22|2024-05-22 05:58:...|
|  2|2024-05-22|2024-05-22 05:58:...|
|  3|2024-05-22|2024-05-22 05:58:...|
|  4|2024-05-22|2024-05-22 05:58:...|
|  5|2024-05-22|2024-05-22 05:58:...|
|  6|2024-05-22|2024-05-22 05:58:...|
|  7|2024-05-22|2024-05-22 05:58:...|
|  8|2024-05-22|2024-05-22 05:58:...|
|  9|2024-05-22|2024-05-22 05:58:...|
+---+----------+--------------------+

In [0]:
from pyspark.sql.functions import date_add, date_sub
dateDF.select(date_sub(col("today"), 5), date_add(col("today"), 5)).show(1)

+------------------+------------------+
|date_sub(today, 5)|date_add(today, 5)|
+------------------+------------------+
|        2024-05-17|        2024-05-27|
+------------------+------------------+
only showing top 1 row

In [0]:
from pyspark.sql.functions import datediff, months_between, to_date
dateDF.withColumn("week_ago", date_sub(col("today"), 7))\
.select(datediff(col("week_ago"), col("today"))).show(1)
dateDF.select(
to_date(lit("2016-01-01")).alias("start"),
to_date(lit("2017-05-22")).alias("end"))\
.select(months_between(col("start"), col("end"))).show(1)

+-------------------------+
|datediff(week_ago, today)|
+-------------------------+
|                       -7|
+-------------------------+
only showing top 1 row

+--------------------------------+
|months_between(start, end, true)|
+--------------------------------+
|                    -16.67741935|
+--------------------------------+
only showing top 1 row

In [0]:
from pyspark.sql.functions import to_date, lit
spark.range(5).withColumn("date", lit("2017-01-01"))\
.select(to_date(col("date"))).show(1)

+-------------+
|to_date(date)|
+-------------+
|   2017-01-01|
+-------------+
only showing top 1 row

In [0]:
dateDF.select(to_date(lit("2016-20-12")),to_date(lit("2017-12-11"))).show(1)

+-------------------+-------------------+
|to_date(2016-20-12)|to_date(2017-12-11)|
+-------------------+-------------------+
|               NULL|         2017-12-11|
+-------------------+-------------------+
only showing top 1 row

In [0]:
from pyspark.sql.functions import to_date
dateFormat = "yyyy-dd-MM"
cleanDateDF = spark.range(1).select(
to_date(lit("2017-12-11"), dateFormat).alias("date"),
to_date(lit("2017-20-12"), dateFormat).alias("date2"))
cleanDateDF.createOrReplaceTempView("dateTable2")
cleanDateDF.show()

+----------+----------+
|      date|     date2|
+----------+----------+
|2017-11-12|2017-12-20|
+----------+----------+

In [0]:
from pyspark.sql.functions import to_timestamp
cleanDateDF.select(to_timestamp(col("date"), dateFormat)).show()

+------------------------------+
|to_timestamp(date, yyyy-dd-MM)|
+------------------------------+
|           2017-11-12 00:00:00|
+------------------------------+

In [0]:
cleanDateDF.filter(col("date2") > lit("2017-12-12")).show()

+----------+----------+
|      date|     date2|
+----------+----------+
|2017-11-12|2017-12-20|
+----------+----------+

#### Coalesce
Spark includes a function to allow you to select the first non-null value from a set of columns by
using the coalesce function.

In [0]:
from pyspark.sql.functions import coalesce
df.select(coalesce(col("Description"), col("CustomerId"))).show()

+---------------------------------+
|coalesce(Description, CustomerId)|
+---------------------------------+
|             WHITE HANGING HEA...|
|              WHITE METAL LANTERN|
|             CREAM CUPID HEART...|
|             KNITTED UNION FLA...|
|             RED WOOLLY HOTTIE...|
|             SET 7 BABUSHKA NE...|
|             GLASS STAR FROSTE...|
|             HAND WARMER UNION...|
|             HAND WARMER RED P...|
|             ASSORTED COLOUR B...|
|             POPPY'S PLAYHOUSE...|
|             POPPY'S PLAYHOUSE...|
|             FELTCRAFT PRINCES...|
|             IVORY KNITTED MUG...|
|             BOX OF 6 ASSORTED...|
|             BOX OF VINTAGE JI...|
|             BOX OF VINTAGE AL...|
|             HOME BUILDING BLO...|
|             LOVE BUILDING BLO...|
|             RECIPE BOX WITH M...|
+---------------------------------+
only showing top 20 rows

#### Null

In [0]:
df.na.drop("any")

DataFrame[InvoiceNo: string, StockCode: string, Description: string, Quantity: int, InvoiceDate: timestamp, UnitPrice: double, CustomerID: double, Country: string]

In [0]:
df.na.fill("All Null values become this string")

DataFrame[InvoiceNo: string, StockCode: string, Description: string, Quantity: int, InvoiceDate: timestamp, UnitPrice: double, CustomerID: double, Country: string]

In [0]:
df.na.fill("all", subset=["StockCode", "InvoiceNo"])

DataFrame[InvoiceNo: string, StockCode: string, Description: string, Quantity: int, InvoiceDate: timestamp, UnitPrice: double, CustomerID: double, Country: string]

In [0]:
fill_cols_vals = {"StockCode": 5, "Description" : "No Value"}
df.na.fill(fill_cols_vals)

DataFrame[InvoiceNo: string, StockCode: string, Description: string, Quantity: int, InvoiceDate: timestamp, UnitPrice: double, CustomerID: double, Country: string]

In [0]:
df.na.replace([""], ["UNKNOWN"], "Description")

DataFrame[InvoiceNo: string, StockCode: string, Description: string, Quantity: int, InvoiceDate: timestamp, UnitPrice: double, CustomerID: double, Country: string]

#### Arrays

In [0]:
from pyspark.sql.functions import split
df.select(split(col("Description"), " ")).show(2)

+-------------------------+
|split(Description,  , -1)|
+-------------------------+
|     [WHITE, HANGING, ...|
|     [WHITE, METAL, LA...|
+-------------------------+
only showing top 2 rows

In [0]:
df.select(split(col("Description"), " ").alias("array_col"))\
.selectExpr("array_col[0]").show(2)

+------------+
|array_col[0]|
+------------+
|       WHITE|
|       WHITE|
+------------+
only showing top 2 rows

In [0]:
from pyspark.sql.functions import size
df.select(size(split(col("Description"), " "))).show(2)

+-------------------------------+
|size(split(Description,  , -1))|
+-------------------------------+
|                              5|
|                              3|
+-------------------------------+
only showing top 2 rows

In [0]:
from pyspark.sql.functions import array_contains
df.select(array_contains(split(col("Description"), " "), "WHITE")).show(2)

+------------------------------------------------+
|array_contains(split(Description,  , -1), WHITE)|
+------------------------------------------------+
|                                            true|
|                                            true|
+------------------------------------------------+
only showing top 2 rows

In [0]:
from pyspark.sql.functions import split, explode
df.withColumn("splitted", split(col("Description"), " "))\
.withColumn("exploded", explode(col("splitted")))\
.select("Description", "InvoiceNo", "exploded").show(2)

+--------------------+---------+--------+
|         Description|InvoiceNo|exploded|
+--------------------+---------+--------+
|WHITE HANGING HEA...|   536365|   WHITE|
|WHITE HANGING HEA...|   536365| HANGING|
+--------------------+---------+--------+
only showing top 2 rows

In [0]:
from pyspark.sql.functions import create_map
df.select(create_map(col("Description"), col("InvoiceNo")).alias("complex_map"))\
.show(2)

+--------------------+
|         complex_map|
+--------------------+
|{WHITE HANGING HE...|
|{WHITE METAL LANT...|
+--------------------+
only showing top 2 rows

In [0]:
df.select(create_map(col("Description"), col("InvoiceNo")).alias("complex_map"))\
.selectExpr("complex_map['WHITE METAL LANTERN']").show(2)

+--------------------------------+
|complex_map[WHITE METAL LANTERN]|
+--------------------------------+
|                            NULL|
|                          536365|
+--------------------------------+
only showing top 2 rows

#### json

In [0]:
jsonDF = spark.range(1).selectExpr("""
'{"myJSONKey" : {"myJSONValue" : [1, 2, 3]}}' as jsonString""")

In [0]:
from pyspark.sql.functions import get_json_object, json_tuple
jsonDF.select(
    get_json_object(col("jsonString"), "$.myJSONKey.myJSONValue[1]").alias("column"),
    json_tuple(col("jsonString"), "myJSONKey")).show(2)

+------+--------------------+
|column|                  c0|
+------+--------------------+
|     2|{"myJSONValue":[1...|
+------+--------------------+

In [0]:
from pyspark.sql.functions import to_json
df.selectExpr("(InvoiceNo, Description) as myStruct")\
.select(to_json(col("myStruct")))

DataFrame[to_json(myStruct): string]

#### User defined Functions

In [0]:
udfExampleDF = spark.range(5).toDF("num")
def power3(double_value):
    return double_value ** 3
power3(2.0)

8.0

In [0]:
# dbutils.fs.unmount(mount_point)

In [0]:
from pyspark.sql.functions import udf
power3udf = udf(power3)
from pyspark.sql.functions import col
udfExampleDF.select(power3udf(col("num"))).show(2)

+-----------+
|power3(num)|
+-----------+
|          0|
|          1|
+-----------+
only showing top 2 rows

## Chapter 7 - Aggregations
In an aggregation, you will specify a key or grouping and an aggregation function that specifies
how you should transform one or more columns. This function must produce one result for each
group, given multiple input values
1.groupby
2.window 
3.grouping set
4.rollup
5.cube

Standard deviation and variance -  single column aggregation
Correlation and Covariance - aggregation/comparison of 2 columns

In [0]:
df = spark.read.format("csv")\
.option("header", "true")\
.option("inferSchema", "true")\
.load("/mnt/pysparkcontainer/online-retail-dataset.csv")\
.coalesce(5)
df.cache()
df.createOrReplaceTempView("dfTable")

In [0]:
df.count()

541909

In [0]:
from pyspark.sql.functions import count
df.select(count("StockCode")).show()

+----------------+
|count(StockCode)|
+----------------+
|          541909|
+----------------+

In [0]:
from pyspark.sql.functions import countDistinct
df.select(countDistinct("StockCode")).show()

+-------------------------+
|count(DISTINCT StockCode)|
+-------------------------+
|                     4070|
+-------------------------+

In [0]:
from pyspark.sql.functions import approx_count_distinct
df.select(approx_count_distinct("StockCode", 0.1)).show()

+--------------------------------+
|approx_count_distinct(StockCode)|
+--------------------------------+
|                            3364|
+--------------------------------+

In [0]:
from pyspark.sql.functions import first, last
df.select(first("StockCode"), last("StockCode")).show()

+----------------+---------------+
|first(StockCode)|last(StockCode)|
+----------------+---------------+
|          85123A|          22138|
+----------------+---------------+

In [0]:
from pyspark.sql.functions import min, max
df.select(min("Quantity"), max("Quantity")).show()

+-------------+-------------+
|min(Quantity)|max(Quantity)|
+-------------+-------------+
|       -80995|        80995|
+-------------+-------------+

In [0]:
from pyspark.sql.functions import sum
df.select(sum("Quantity")).show() # 5176450

+-------------+
|sum(Quantity)|
+-------------+
|      5176450|
+-------------+

In [0]:
from pyspark.sql.functions import sumDistinct
df.select(sumDistinct("Quantity")).show()

+----------------------+
|sum(DISTINCT Quantity)|
+----------------------+
|                 29310|
+----------------------+

In [0]:
from pyspark.sql.functions import sum, count, avg, expr
df.select(
count("Quantity").alias("total_transactions"),
sum("Quantity").alias("total_purchases"),
avg("Quantity").alias("avg_purchases"),
expr("mean(Quantity)").alias("mean_purchases"))\
.selectExpr(
"total_purchases/total_transactions",
"avg_purchases",
"mean_purchases").show()

+--------------------------------------+----------------+----------------+
|(total_purchases / total_transactions)|   avg_purchases|  mean_purchases|
+--------------------------------------+----------------+----------------+
|                      9.55224954743324|9.55224954743324|9.55224954743324|
+--------------------------------------+----------------+----------------+

In [0]:
from pyspark.sql.functions import var_pop, stddev_pop
from pyspark.sql.functions import var_samp, stddev_samp
df.select(var_pop("Quantity"), var_samp("Quantity"),
stddev_pop("Quantity"), stddev_samp("Quantity")).show()

+-----------------+------------------+--------------------+---------------------+
|var_pop(Quantity)|var_samp(Quantity)|stddev_pop(Quantity)|stddev_samp(Quantity)|
+-----------------+------------------+--------------------+---------------------+
|47559.30364660923| 47559.39140929892|  218.08095663447835|   218.08115785023455|
+-----------------+------------------+--------------------+---------------------+

In [0]:
from pyspark.sql.functions import skewness, kurtosis
df.select(skewness("Quantity"), kurtosis("Quantity")).show()

+--------------------+------------------+
|  skewness(Quantity)|kurtosis(Quantity)|
+--------------------+------------------+
|-0.26407557610528376|119768.05495530753|
+--------------------+------------------+

In [0]:
from pyspark.sql.functions import corr, covar_pop, covar_samp
df.select(corr("InvoiceNo", "Quantity"), covar_samp("InvoiceNo", "Quantity"),
covar_pop("InvoiceNo", "Quantity")).show()

+-------------------------+-------------------------------+------------------------------+
|corr(InvoiceNo, Quantity)|covar_samp(InvoiceNo, Quantity)|covar_pop(InvoiceNo, Quantity)|
+-------------------------+-------------------------------+------------------------------+
|     4.912186085640497E-4|             1052.7280543915997|            1052.7260778754955|
+-------------------------+-------------------------------+------------------------------+

In [0]:
from pyspark.sql.functions import collect_set, collect_list
df.agg(collect_set("Country"), collect_list("Country")).show()

+--------------------+---------------------+
|collect_set(Country)|collect_list(Country)|
+--------------------+---------------------+
|[Portugal, Italy,...| [United Kingdom, ...|
+--------------------+---------------------+

#### Grouping
 First we specify the column(s) on which we would like to
group, and then we specify the aggregation(s). The first step returns a
RelationalGroupedDataset, and the second step returns a DataFrame.

In [0]:
df.groupBy("InvoiceNo", "CustomerId").count().show()

+---------+----------+-----+
|InvoiceNo|CustomerId|count|
+---------+----------+-----+
|   536366|     17850|    2|
|   536367|     13047|   12|
|   536369|     13047|    1|
|   536376|     15291|    2|
|   536387|     16029|    5|
|  C536391|     17548|    7|
|   536392|     13705|   10|
|   536399|     17850|    2|
|   536403|     12791|    2|
|   536405|     14045|    1|
|   536415|     12838|   59|
|   536446|     15983|   32|
|   536463|     14849|    1|
|   536464|     17968|   85|
|   536500|     17377|   15|
|   536525|     14078|   13|
|   536529|     14237|    9|
|   536531|     15485|   23|
|   536532|     12433|   73|
|   536533|     16955|    6|
+---------+----------+-----+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import count
df.groupBy("InvoiceNo").agg(
count("Quantity").alias("quan"),
expr("count(Quantity)")).show()

+---------+----+---------------+
|InvoiceNo|quan|count(Quantity)|
+---------+----+---------------+
|   536370|  20|             20|
|   536380|   1|              1|
|   536384|  13|             13|
|   536387|   5|              5|
|   536397|   2|              2|
|   536405|   1|              1|
|   536407|   2|              2|
|   536463|   1|              1|
|   536500|  15|             15|
|   536522|  54|             54|
|   536523|  12|             12|
|   536536|   3|              3|
|   536538|  31|             31|
|   536542|  16|             16|
|   536555|   2|              2|
|   536561|  15|             15|
|   536573|   4|              4|
|   536579|   2|              2|
|   536580|   6|              6|
|   536582|  17|             17|
+---------+----+---------------+
only showing top 20 rows

In [0]:
df.groupBy("InvoiceNo").agg(expr("avg(Quantity)"),expr("stddev_pop(Quantity)"))\
.show()

+---------+------------------+--------------------+
|InvoiceNo|     avg(Quantity)|stddev_pop(Quantity)|
+---------+------------------+--------------------+
|   536370|             22.45|   8.935742834258381|
|   536380|              24.0|                 0.0|
|   536384|14.615384615384615|  15.750645708563392|
|   536387|             288.0|  117.57550765359255|
|   536397|              30.0|                18.0|
|   536405|             128.0|                 0.0|
|   536407|               6.0|                 0.0|
|   536463|              12.0|                 0.0|
|   536500|               6.8|   4.019950248448356|
|   536522|1.5925925925925926|  1.6046058535136642|
|   536523| 9.333333333333334|   7.487025815072067|
|   536536|31.666666666666668|  34.373762603991366|
|   536538| 4.709677419354839|  3.7173833008743054|
|   536542|              24.5|    8.73212459828649|
|   536555|               1.0|                 0.0|
|   536561| 9.333333333333334|  2.9814239699997196|
|   536573|              34.0|  23.748684174075834|
|   536579|             138.0|                78.0|
|   536580|              11.0|    2.23606797749979|
|   536582|10.823529411764707|    6.99777522727673|
+---------+------------------+--------------------+
only showing top 20 rows

A group-by takes data, and every row can go only into one grouping. A window function
calculates a return value for every input row of a table based on a group of rows, called a frame.

In [0]:
from pyspark.sql.functions import col, to_date
dfWithDate = df.withColumn("date", to_date(col("InvoiceDate"), "MM/d/yyyy H:mm"))
dfWithDate.createOrReplaceTempView("dfWithDate")

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import desc
windowSpec = Window\
.partitionBy("CustomerId", "date")\
.orderBy(desc("Quantity"))\
.rowsBetween(Window.unboundedPreceding, Window.currentRow)

from pyspark.sql.functions import max
maxPurchaseQuantity = max(col("Quantity")).over(windowSpec)

In [0]:
from pyspark.sql.functions import dense_rank, rank
purchaseDenseRank = dense_rank().over(windowSpec)
purchaseRank = rank().over(windowSpec)

In [0]:
dfNoNull = dfWithDate.drop()
dfNoNull.createOrReplaceTempView("dfNoNull")

In [0]:
# in Python
pivoted = dfWithDate.groupBy("date").pivot("Country").sum()

## Joins

In [0]:
person = spark.createDataFrame([
(0, "Bill Chambers", 0, [100]),
(1, "Matei Zaharia", 1, [500, 250, 100]),
(2, "Michael Armbrust", 1, [250, 100])])\
.toDF("id", "name", "graduate_program", "spark_status")
graduateProgram = spark.createDataFrame([
(0, "Masters", "School of Information", "UC Berkeley"),
(2, "Masters", "EECS", "UC Berkeley"),
(1, "Ph.D.", "EECS", "UC Berkeley")])\
.toDF("id", "degree", "department", "school")
sparkStatus = spark.createDataFrame([
(500, "Vice President"),
(250, "PMC Member"),
(100, "Contributor")])\
.toDF("id", "status")

In [0]:
person.createOrReplaceTempView("person")
graduateProgram.createOrReplaceTempView("graduateProgram")
sparkStatus.createOrReplaceTempView("sparkStatus")

In [0]:
joinExpression = person["graduate_program"] == graduateProgram['id']
person.join(graduateProgram, joinExpression).show()

+---+----------------+----------------+---------------+---+-------+--------------------+-----------+
| id|            name|graduate_program|   spark_status| id| degree|          department|     school|
+---+----------------+----------------+---------------+---+-------+--------------------+-----------+
|  0|   Bill Chambers|               0|          [100]|  0|Masters|School of Informa...|UC Berkeley|
|  1|   Matei Zaharia|               1|[500, 250, 100]|  1|  Ph.D.|                EECS|UC Berkeley|
|  2|Michael Armbrust|               1|     [250, 100]|  1|  Ph.D.|                EECS|UC Berkeley|
+---+----------------+----------------+---------------+---+-------+--------------------+-----------+

In [0]:
joinType = "outer"
person.join(graduateProgram, joinExpression, joinType).show()

+----+----------------+----------------+---------------+---+-------+--------------------+-----------+
|  id|            name|graduate_program|   spark_status| id| degree|          department|     school|
+----+----------------+----------------+---------------+---+-------+--------------------+-----------+
|   0|   Bill Chambers|               0|          [100]|  0|Masters|School of Informa...|UC Berkeley|
|   1|   Matei Zaharia|               1|[500, 250, 100]|  1|  Ph.D.|                EECS|UC Berkeley|
|   2|Michael Armbrust|               1|     [250, 100]|  1|  Ph.D.|                EECS|UC Berkeley|
|NULL|            NULL|            NULL|           NULL|  2|Masters|                EECS|UC Berkeley|
+----+----------------+----------------+---------------+---+-------+--------------------+-----------+

In [0]:
joinType = "left_outer"
graduateProgram.join(person, joinExpression, joinType).show()

+---+-------+--------------------+-----------+----+----------------+----------------+---------------+
| id| degree|          department|     school|  id|            name|graduate_program|   spark_status|
+---+-------+--------------------+-----------+----+----------------+----------------+---------------+
|  0|Masters|School of Informa...|UC Berkeley|   0|   Bill Chambers|               0|          [100]|
|  2|Masters|                EECS|UC Berkeley|NULL|            NULL|            NULL|           NULL|
|  1|  Ph.D.|                EECS|UC Berkeley|   2|Michael Armbrust|               1|     [250, 100]|
|  1|  Ph.D.|                EECS|UC Berkeley|   1|   Matei Zaharia|               1|[500, 250, 100]|
+---+-------+--------------------+-----------+----+----------------+----------------+---------------+

In [0]:
joinType = "right_outer"
person.join(graduateProgram, joinExpression, joinType).show()

+----+----------------+----------------+---------------+---+-------+--------------------+-----------+
|  id|            name|graduate_program|   spark_status| id| degree|          department|     school|
+----+----------------+----------------+---------------+---+-------+--------------------+-----------+
|   0|   Bill Chambers|               0|          [100]|  0|Masters|School of Informa...|UC Berkeley|
|NULL|            NULL|            NULL|           NULL|  2|Masters|                EECS|UC Berkeley|
|   2|Michael Armbrust|               1|     [250, 100]|  1|  Ph.D.|                EECS|UC Berkeley|
|   1|   Matei Zaharia|               1|[500, 250, 100]|  1|  Ph.D.|                EECS|UC Berkeley|
+----+----------------+----------------+---------------+---+-------+--------------------+-----------+

In [0]:
joinType = "left_semi"
graduateProgram.join(person, joinExpression, joinType).show()

+---+-------+--------------------+-----------+
| id| degree|          department|     school|
+---+-------+--------------------+-----------+
|  0|Masters|School of Informa...|UC Berkeley|
|  1|  Ph.D.|                EECS|UC Berkeley|
+---+-------+--------------------+-----------+

In [0]:
gradProgram2 = graduateProgram.union(spark.createDataFrame([
(0, "Masters", "Duplicated Row", "Duplicated School")]))
gradProgram2.createOrReplaceTempView("gradProgram2")
gradProgram2.join(person, joinExpression, joinType).show()

+---+-------+--------------------+-----------------+
| id| degree|          department|           school|
+---+-------+--------------------+-----------------+
|  0|Masters|School of Informa...|      UC Berkeley|
|  1|  Ph.D.|                EECS|      UC Berkeley|
|  0|Masters|      Duplicated Row|Duplicated School|
+---+-------+--------------------+-----------------+

In [0]:
joinType = "left_anti"
graduateProgram.join(person, joinExpression, joinType).show()

+---+-------+----------+-----------+
| id| degree|department|     school|
+---+-------+----------+-----------+
|  2|Masters|      EECS|UC Berkeley|
+---+-------+----------+-----------+

In [0]:
joinType = "cross"
graduateProgram.join(person, joinExpression, joinType).show()

+---+-------+--------------------+-----------+---+----------------+----------------+---------------+
| id| degree|          department|     school| id|            name|graduate_program|   spark_status|
+---+-------+--------------------+-----------+---+----------------+----------------+---------------+
|  0|Masters|School of Informa...|UC Berkeley|  0|   Bill Chambers|               0|          [100]|
|  1|  Ph.D.|                EECS|UC Berkeley|  1|   Matei Zaharia|               1|[500, 250, 100]|
|  1|  Ph.D.|                EECS|UC Berkeley|  2|Michael Armbrust|               1|     [250, 100]|
+---+-------+--------------------+-----------+---+----------------+----------------+---------------+

In [0]:
from pyspark.sql.functions import expr
person.withColumnRenamed("id", "personId")\
.join(sparkStatus, expr("array_contains(spark_status, id)")).show()

+--------+----------------+----------------+---------------+---+--------------+
|personId|            name|graduate_program|   spark_status| id|        status|
+--------+----------------+----------------+---------------+---+--------------+
|       0|   Bill Chambers|               0|          [100]|100|   Contributor|
|       1|   Matei Zaharia|               1|[500, 250, 100]|500|Vice President|
|       1|   Matei Zaharia|               1|[500, 250, 100]|250|    PMC Member|
|       1|   Matei Zaharia|               1|[500, 250, 100]|100|   Contributor|
|       2|Michael Armbrust|               1|     [250, 100]|250|    PMC Member|
|       2|Michael Armbrust|               1|     [250, 100]|100|   Contributor|
+--------+----------------+----------------+---------------+---+--------------+

## Chapter 10

In [0]:
spark.sql("SELECT 1 + 1").show()

+-------+
|(1 + 1)|
+-------+
|      2|
+-------+

In [0]:
%sql
CREATE TABLE flights (
DEST_COUNTRY_NAME STRING, ORIGIN_COUNTRY_NAME STRING, count LONG)
USING JSON OPTIONS (path '/mnt/pysparkcontainer/flight-data_json/2015-summary.json')

In [0]:
%sql
CREATE TABLE flights_csv (
DEST_COUNTRY_NAME STRING,
ORIGIN_COUNTRY_NAME STRING COMMENT "remember, the US will be most prevalent",
count LONG)
USING csv OPTIONS (header true, path '/data/flight-data/csv/2015-summary.csv')

In [0]:
%sql
CREATE TABLE flights_from_select USING parquet AS SELECT * FROM flights

In [0]:
%sql
INSERT INTO flights_from_select
SELECT DEST_COUNTRY_NAME, ORIGIN_COUNTRY_NAME, count FROM flights LIMIT 20

In [0]:
%sql
DESCRIBE TABLE flights_from_select

col_name,data_type,comment
DEST_COUNTRY_NAME,string,null
ORIGIN_COUNTRY_NAME,string,null
count,bigint,null

In [0]:
%sql
DROP TABLE IF EXISTS flights_csv;

In [0]:
%sql
CREATE VIEW just_usa_view AS
SELECT * FROM flights WHERE dest_country_name = 'United States'

In [0]:
%sql
DROP VIEW IF EXISTS just_usa_view;

In [0]:
%sql
SHOW DATABASES

databaseName
default

In [0]:
%sql
CREATE DATABASE some_db

In [0]:
%sql
USE some_db

In [0]:
%sql
SHOW tables

database,tableName,isTemporary
,datetable,true
,datetable2,true
,dfnonull,true
,dftable,true
,dfwithdate,true
,flight_data_2015,true
,gradprogram2,true
,graduateprogram,true
,person,true
,retail_data,true
,sparkstatus,true

In [0]:
%sql
SELECT * FROM default.flights

DEST_COUNTRY_NAME,ORIGIN_COUNTRY_NAME,count
United States,Romania,15
United States,Croatia,1
United States,Ireland,344
Egypt,United States,15
United States,India,62
United States,Singapore,1
United States,Grenada,62
Costa Rica,United States,588
Senegal,United States,40
Moldova,United States,1
United States,Sint Maarten,325
United States,Marshall Islands,39
Guyana,United States,64
Malta,United States,1
Anguilla,United States,41
Bolivia,United States,30
United States,Paraguay,6
Algeria,United States,4
Turks and Caicos Islands,United States,230
United States,Gibraltar,1
Saint Vincent and the Grenadines,United States,1
Italy,United States,382
United States,Federated States of Micronesia,69
United States,Russia,161
Pakistan,United States,12
United States,Netherlands,660
Iceland,United States,181
Marshall Islands,United States,42
Luxembourg,United States,155
Honduras,United States,362
The Bahamas,United States,955
United States,Senegal,42
El Salvador,United States,561
Samoa,United States,25
United States,Angola,13
Switzerland,United States,294
United States,Anguilla,38
Sint Maarten,United States,325
Hong Kong,United States,332
Trinidad and Tobago,United States,211
Latvia,United States,19
United States,Ecuador,300
Suriname,United States,1
Mexico,United States,7140
United States,Cyprus,1
Ecuador,United States,268
United States,Portugal,134
United States,Costa Rica,608
United States,Guatemala,318
United States,Suriname,34
Colombia,United States,873
United States,Cape Verde,14
United States,Jamaica,712
Norway,United States,121
United States,Malaysia,3
United States,Morocco,19
Thailand,United States,3
United States,Samoa,25
Venezuela,United States,290
United States,Palau,31
United States,Venezuela,246
Panama,United States,510
Antigua and Barbuda,United States,126
United States,Chile,185
Morocco,United States,15
United States,Finland,28
Azerbaijan,United States,21
United States,Greece,23
United States,The Bahamas,986
New Zealand,United States,111
Liberia,United States,2
United States,Hong Kong,414
Hungary,United States,2
United States,China,920
United States,Vietnam,2
Burkina Faso,United States,1
Sweden,United States,118
United States,Kuwait,28
United States,Dominican Republic,1420
United States,Egypt,12
Israel,United States,134
United States,United States,370002
Ethiopia,United States,13
United States,Luxembourg,134
United States,Poland,33
Martinique,United States,44
United States,Saint Barthelemy,41
Saint Barthelemy,United States,39
Barbados,United States,154
United States,Turkey,129
Djibouti,United States,1
United States,Azerbaijan,21
United States,Estonia,1
Germany,United States,1468
United States,South Korea,827
United States,El Salvador,508
Ireland,United States,335
United States,Hungary,3
Zambia,United States,1
Malaysia,United States,2
United States,Ethiopia,12
United States,Panama,465
United States,Aruba,342
United States,Thailand,4
United States,Turks and Caicos Islands,236
Croatia,United States,2
United States,Pakistan,12
Cyprus,United States,1
United States,Honduras,407
Fiji,United States,24
Qatar,United States,108
Saint Kitts and Nevis,United States,139
Kuwait,United States,32
Taiwan,United States,266
Haiti,United States,226
Canada,United States,8399
Federated States of Micronesia,United States,69
United States,Liberia,2
Jamaica,United States,666
United States,Malta,2
Dominican Republic,United States,1353
Japan,United States,1548
United States,Lithuania,1
Finland,United States,26
United States,Guadeloupe,59
United States,Ukraine,13
United States,France,952
United States,Norway,115
Aruba,United States,346
French Guiana,United States,5
United States,Kiribati,35
India,United States,61
British Virgin Islands,United States,107
Brazil,United States,853
United States,Germany,1336
United States,New Zealand,74
French Polynesia,United States,43
United Arab Emirates,United States,320
Singapore,United States,3
United States,Mexico,7187
United States,Sweden,119
Netherlands,United States,776
United States,Martinique,43
United States,United Arab Emirates,313
United States,Bulgaria,1
Denmark,United States,153
China,United States,772
United States,Nicaragua,201
United States,Philippines,126
United States,Georgia,1
United States,Belgium,228
Cayman Islands,United States,314
Argentina,United States,180
Peru,United States,279
South Africa,United States,36
United States,Iceland,202
United States,Argentina,141
Spain,United States,420
Bermuda,United States,183
United States,Nigeria,50
United States,Austria,63
United States,"Bonaire, Sint Eustatius, and Saba",59
Kiribati,United States,26
Saudi Arabia,United States,83
Czech Republic,United States,13
United States,Israel,127
Belgium,United States,259
United States,Saint Lucia,136
United States,Bahrain,1
United States,British Virgin Islands,80
Curacao,United States,90
Georgia,United States,2
United States,Denmark,152
United States,Guyana,63
Philippines,United States,134
Grenada,United States,53
Cape Verde,United States,20
Cote d'Ivoire,United States,1
Ukraine,United States,14
United States,Papua New Guinea,1
Russia,United States,176
United States,Saudi Arabia,70
Guatemala,United States,397
Saint Lucia,United States,123
Paraguay,United States,60
United States,Curacao,83
Kosovo,United States,1
United States,Taiwan,235
Tunisia,United States,3
United States,South Africa,40
Niger,United States,2
Turkey,United States,138
United Kingdom,United States,2025
Romania,United States,14
United States,Greenland,4
Papua New Guinea,United States,3
United States,Spain,442
Iraq,United States,1
United States,Italy,438
Cuba,United States,466
United States,Switzerland,305
Dominica,United States,20
United States,Japan,1496
Portugal,United States,127
United States,Brazil,619
Bahrain,United States,19
United States,Peru,337
Indonesia,United States,1
United States,Belize,193
United States,United Kingdom,1970
Belize,United States,188
United States,Ghana,20
United States,Indonesia,2
United States,Fiji,25
United States,Canada,8483
United States,Antigua and Barbuda,117
United States,French Polynesia,40
Nicaragua,United States,179
United States,Latvia,15
United States,Dominica,27
United States,Czech Republic,12
United States,Australia,258
United States,Cook Islands,13
Austria,United States,62
Jordan,United States,44
Palau,United States,30
South Korea,United States,1048
Angola,United States,15
Ghana,United States,18
New Caledonia,United States,1
Guadeloupe,United States,56
France,United States,935
Poland,United States,32
Nigeria,United States,59
United States,Uruguay,13
Greenland,United States,2
United States,Bermuda,193
Chile,United States,174
United States,Cuba,478
United States,Montenegro,1
United States,Colombia,867
United States,Barbados,130
United States,Qatar,109
Australia,United States,329
United States,Cayman Islands,310
United States,Jordan,44
United States,Namibia,1
United States,Trinidad and Tobago,217
United States,Bolivia,13
Cook Islands,United States,13
Bulgaria,United States,3
United States,Saint Kitts and Nevis,145
Uruguay,United States,43
United States,Haiti,225
"Bonaire, Sint Eustatius, and Saba",United States,58
Greece,United States,30

In [0]:
%sql
DROP DATABASE IF EXISTS some_db;

In [0]:
%sql
USE default

In [0]:
%sql
CREATE VIEW IF NOT EXISTS nested_data AS
SELECT (DEST_COUNTRY_NAME, ORIGIN_COUNTRY_NAME) as country, count FROM flights

In [0]:
%sql
SELECT country.DEST_COUNTRY_NAME, count FROM nested_data

DEST_COUNTRY_NAME,count
United States,15
United States,1
United States,344
Egypt,15
United States,62
United States,1
United States,62
Costa Rica,588
Senegal,40
Moldova,1
United States,325
United States,39
Guyana,64
Malta,1
Anguilla,41
Bolivia,30
United States,6
Algeria,4
Turks and Caicos Islands,230
United States,1
Saint Vincent and the Grenadines,1
Italy,382
United States,69
United States,161
Pakistan,12
United States,660
Iceland,181
Marshall Islands,42
Luxembourg,155
Honduras,362
The Bahamas,955
United States,42
El Salvador,561
Samoa,25
United States,13
Switzerland,294
United States,38
Sint Maarten,325
Hong Kong,332
Trinidad and Tobago,211
Latvia,19
United States,300
Suriname,1
Mexico,7140
United States,1
Ecuador,268
United States,134
United States,608
United States,318
United States,34
Colombia,873
United States,14
United States,712
Norway,121
United States,3
United States,19
Thailand,3
United States,25
Venezuela,290
United States,31
United States,246
Panama,510
Antigua and Barbuda,126
United States,185
Morocco,15
United States,28
Azerbaijan,21
United States,23
United States,986
New Zealand,111
Liberia,2
United States,414
Hungary,2
United States,920
United States,2
Burkina Faso,1
Sweden,118
United States,28
United States,1420
United States,12
Israel,134
United States,370002
Ethiopia,13
United States,134
United States,33
Martinique,44
United States,41
Saint Barthelemy,39
Barbados,154
United States,129
Djibouti,1
United States,21
United States,1
Germany,1468
United States,827
United States,508
Ireland,335
United States,3
Zambia,1
Malaysia,2
United States,12
United States,465
United States,342
United States,4
United States,236
Croatia,2
United States,12
Cyprus,1
United States,407
Fiji,24
Qatar,108
Saint Kitts and Nevis,139
Kuwait,32
Taiwan,266
Haiti,226
Canada,8399
Federated States of Micronesia,69
United States,2
Jamaica,666
United States,2
Dominican Republic,1353
Japan,1548
United States,1
Finland,26
United States,59
United States,13
United States,952
United States,115
Aruba,346
French Guiana,5
United States,35
India,61
British Virgin Islands,107
Brazil,853
United States,1336
United States,74
French Polynesia,43
United Arab Emirates,320
Singapore,3
United States,7187
United States,119
Netherlands,776
United States,43
United States,313
United States,1
Denmark,153
China,772
United States,201
United States,126
United States,1
United States,228
Cayman Islands,314
Argentina,180
Peru,279
South Africa,36
United States,202
United States,141
Spain,420
Bermuda,183
United States,50
United States,63
United States,59
Kiribati,26
Saudi Arabia,83
Czech Republic,13
United States,127
Belgium,259
United States,136
United States,1
United States,80
Curacao,90
Georgia,2
United States,152
United States,63
Philippines,134
Grenada,53
Cape Verde,20
Cote d'Ivoire,1
Ukraine,14
United States,1
Russia,176
United States,70
Guatemala,397
Saint Lucia,123
Paraguay,60
United States,83
Kosovo,1
United States,235
Tunisia,3
United States,40
Niger,2
Turkey,138
United Kingdom,2025
Romania,14
United States,4
Papua New Guinea,3
United States,442
Iraq,1
United States,438
Cuba,466
United States,305
Dominica,20
United States,1496
Portugal,127
United States,619
Bahrain,19
United States,337
Indonesia,1
United States,193
United States,1970
Belize,188
United States,20
United States,2
United States,25
United States,8483
United States,117
United States,40
Nicaragua,179
United States,15
United States,27
United States,12
United States,258
United States,13
Austria,62
Jordan,44
Palau,30
South Korea,1048
Angola,15
Ghana,18
New Caledonia,1
Guadeloupe,56
France,935
Poland,32
Nigeria,59
United States,13
Greenland,2
United States,193
Chile,174
United States,478
United States,1
United States,867
United States,130
United States,109
Australia,329
United States,310
United States,44
United States,1
United States,217
United States,13
Cook Islands,13
Bulgaria,3
United States,145
Uruguay,43
United States,225
"Bonaire, Sint Eustatius, and Saba",58
Greece,30

In [0]:
%sql
SELECT DEST_COUNTRY_NAME as new_name, collect_list(count) as flight_counts,
collect_set(ORIGIN_COUNTRY_NAME) as origin_set
FROM flights GROUP BY DEST_COUNTRY_NAME

new_name,flight_counts,origin_set
Algeria,List(4),List(United States)
Angola,List(15),List(United States)
Anguilla,List(41),List(United States)
Antigua and Barbuda,List(126),List(United States)
Argentina,List(180),List(United States)
Aruba,List(346),List(United States)
Australia,List(329),List(United States)
Austria,List(62),List(United States)
Azerbaijan,List(21),List(United States)
Bahrain,List(19),List(United States)
Barbados,List(154),List(United States)
Belgium,List(259),List(United States)
Belize,List(188),List(United States)
Bermuda,List(183),List(United States)
Bolivia,List(30),List(United States)
"Bonaire, Sint Eustatius, and Saba",List(58),List(United States)
Brazil,List(853),List(United States)
British Virgin Islands,List(107),List(United States)
Bulgaria,List(3),List(United States)
Burkina Faso,List(1),List(United States)
Canada,List(8399),List(United States)
Cape Verde,List(20),List(United States)
Cayman Islands,List(314),List(United States)
Chile,List(174),List(United States)
China,List(772),List(United States)
Colombia,List(873),List(United States)
Cook Islands,List(13),List(United States)
Costa Rica,List(588),List(United States)
Cote d'Ivoire,List(1),List(United States)
Croatia,List(2),List(United States)
Cuba,List(466),List(United States)
Curacao,List(90),List(United States)
Cyprus,List(1),List(United States)
Czech Republic,List(13),List(United States)
Denmark,List(153),List(United States)
Djibouti,List(1),List(United States)
Dominica,List(20),List(United States)
Dominican Republic,List(1353),List(United States)
Ecuador,List(268),List(United States)
Egypt,List(15),List(United States)
El Salvador,List(561),List(United States)
Ethiopia,List(13),List(United States)
Federated States of Micronesia,List(69),List(United States)
Fiji,List(24),List(United States)
Finland,List(26),List(United States)
France,List(935),List(United States)
French Guiana,List(5),List(United States)
French Polynesia,List(43),List(United States)
Georgia,List(2),List(United States)
Germany,List(1468),List(United States)
Ghana,List(18),List(United States)
Greece,List(30),List(United States)
Greenland,List(2),List(United States)
Grenada,List(53),List(United States)
Guadeloupe,List(56),List(United States)
Guatemala,List(397),List(United States)
Guyana,List(64),List(United States)
Haiti,List(226),List(United States)
Honduras,List(362),List(United States)
Hong Kong,List(332),List(United States)
Hungary,List(2),List(United States)
Iceland,List(181),List(United States)
India,List(61),List(United States)
Indonesia,List(1),List(United States)
Iraq,List(1),List(United States)
Ireland,List(335),List(United States)
Israel,List(134),List(United States)
Italy,List(382),List(United States)
Jamaica,List(666),List(United States)
Japan,List(1548),List(United States)
Jordan,List(44),List(United States)
Kiribati,List(26),List(United States)
Kosovo,List(1),List(United States)
Kuwait,List(32),List(United States)
Latvia,List(19),List(United States)
Liberia,List(2),List(United States)
Luxembourg,List(155),List(United States)
Malaysia,List(2),List(United States)
Malta,List(1),List(United States)
Marshall Islands,List(42),List(United States)
Martinique,List(44),List(United States)
Mexico,List(7140),List(United States)
Moldova,List(1),List(United States)
Morocco,List(15),List(United States)
Netherlands,List(776),List(United States)
New Caledonia,List(1),List(United States)
New Zealand,List(111),List(United States)
Nicaragua,List(179),List(United States)
Niger,List(2),List(United States)
Nigeria,List(59),List(United States)
Norway,List(121),List(United States)
Pakistan,List(12),List(United States)
Palau,List(30),List(United States)
Panama,List(510),List(United States)
Papua New Guinea,List(3),List(United States)
Paraguay,List(60),List(United States)
Peru,List(279),List(United States)
Philippines,List(134),List(United States)
Poland,List(32),List(United States)
Portugal,List(127),List(United States)
Qatar,List(108),List(United States)
Romania,List(14),List(United States)
Russia,List(176),List(United States)
Saint Barthelemy,List(39),List(United States)
Saint Kitts and Nevis,List(139),List(United States)
Saint Lucia,List(123),List(United States)
Saint Vincent and the Grenadines,List(1),List(United States)
Samoa,List(25),List(United States)
Saudi Arabia,List(83),List(United States)
Senegal,List(40),List(United States)
Singapore,List(3),List(United States)
Sint Maarten,List(325),List(United States)
South Africa,List(36),List(United States)
South Korea,List(1048),List(United States)
Spain,List(420),List(United States)
Suriname,List(1),List(United States)
Sweden,List(118),List(United States)
Switzerland,List(294),List(United States)
Taiwan,List(266),List(United States)
Thailand,List(3),List(United States)
The Bahamas,List(955),List(United States)
Trinidad and Tobago,List(211),List(United States)
Tunisia,List(3),List(United States)
Turkey,List(138),List(United States)
Turks and Caicos Islands,List(230),List(United States)
Ukraine,List(14),List(United States)
United Arab Emirates,List(320),List(United States)
United Kingdom,List(2025),List(United States)
United States,"List(152, 63, 1, 70, 83, 235, 40, 4, 442, 438, 305, 1496, 619, 337, 193, 1970, 20, 2, 25, 8483, 117, 40, 15, 27, 12, 258, 13, 13, 193, 478, 1, 867, 130, 109, 310, 44, 1, 217, 13, 145, 225, 15, 1, 344, 62, 1, 62, 325, 39, 6, 1, 69, 161, 660, 42, 13, 38, 300, 1, 134, 608, 318, 34, 14, 712, 3, 19, 25, 31, 246, 185, 28, 23, 986, 414, 920, 2, 28, 1420, 12, 370002, 134, 33, 41, 129, 21, 1, 827, 508, 3, 12, 465, 342, 4, 236, 12, 407, 2, 2, 1, 59, 13, 952, 115, 35, 1336, 74, 7187, 119, 43, 313, 1, 201, 126, 1, 228, 202, 141, 50, 63, 59, 127, 136, 1, 80)","List(Italy, Martinique, Finland, Liberia, Germany, Kiribati, Dominica, Sweden, Angola, Ethiopia, Belgium, United Arab Emirates, Australia, Cook Islands, Japan, Namibia, Venezuela, Russia, Federated States of Micronesia, Guadeloupe, Bulgaria, Saint Kitts and Nevis, Malta, Aruba, South Africa, New Zealand, Kuwait, Azerbaijan, Jamaica, Turks and Caicos Islands, British Virgin Islands, Uruguay, Turkey, Marshall Islands, Czech Republic, Pakistan, Bermuda, Saint Lucia, The Bahamas, Greece, Taiwan, Spain, Luxembourg, Dominican Republic, Suriname, Honduras, Cape Verde, Argentina, Montenegro, Jordan, Vietnam, Austria, Colombia, Ireland, Romania, Saudi Arabia, Latvia, Fiji, Indonesia, Nicaragua, Greenland, Costa Rica, Peru, South Korea, Portugal, Thailand, Belize, French Polynesia, Ghana, Palau, Hungary, Paraguay, Antigua and Barbuda, Barbados, Saint Barthelemy, United Kingdom, Senegal, Nigeria, Guyana, Iceland, Cayman Islands, Lithuania, Bahrain, Panama, Ukraine, Guatemala, Morocco, Netherlands, Trinidad and Tobago, Bolivia, Malaysia, Anguilla, Norway, Croatia, Samoa, Israel, Sint Maarten, Papua New Guinea, Gibraltar, Canada, Grenada, Switzerland, Ecuador, Singapore, Cuba, Hong Kong, El Salvador, Georgia, Cyprus, United States, India, Denmark, Estonia, China, Bonaire, Sint Eustatius, and Saba, Philippines, Haiti, Mexico, Poland, Brazil, Chile, France, Egypt, Curacao, Qatar)"
Uruguay,List(43),List(United States)
Venezuela,List(290),List(United States)
Zambia,List(1),List(United States)

In [0]:
%sql
SELECT DEST_COUNTRY_NAME, ARRAY(1, 2, 3) FROM flights

DEST_COUNTRY_NAME,"array(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Egypt,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Costa Rica,"List(1, 2, 3)"
Senegal,"List(1, 2, 3)"
Moldova,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Guyana,"List(1, 2, 3)"
Malta,"List(1, 2, 3)"
Anguilla,"List(1, 2, 3)"
Bolivia,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Algeria,"List(1, 2, 3)"
Turks and Caicos Islands,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Saint Vincent and the Grenadines,"List(1, 2, 3)"
Italy,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Pakistan,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Iceland,"List(1, 2, 3)"
Marshall Islands,"List(1, 2, 3)"
Luxembourg,"List(1, 2, 3)"
Honduras,"List(1, 2, 3)"
The Bahamas,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
El Salvador,"List(1, 2, 3)"
Samoa,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Switzerland,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Sint Maarten,"List(1, 2, 3)"
Hong Kong,"List(1, 2, 3)"
Trinidad and Tobago,"List(1, 2, 3)"
Latvia,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Suriname,"List(1, 2, 3)"
Mexico,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Ecuador,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Colombia,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Norway,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Thailand,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Venezuela,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Panama,"List(1, 2, 3)"
Antigua and Barbuda,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Morocco,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Azerbaijan,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
New Zealand,"List(1, 2, 3)"
Liberia,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Hungary,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Burkina Faso,"List(1, 2, 3)"
Sweden,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Israel,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Ethiopia,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Martinique,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Saint Barthelemy,"List(1, 2, 3)"
Barbados,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Djibouti,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Germany,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Ireland,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Zambia,"List(1, 2, 3)"
Malaysia,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Croatia,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Cyprus,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Fiji,"List(1, 2, 3)"
Qatar,"List(1, 2, 3)"
Saint Kitts and Nevis,"List(1, 2, 3)"
Kuwait,"List(1, 2, 3)"
Taiwan,"List(1, 2, 3)"
Haiti,"List(1, 2, 3)"
Canada,"List(1, 2, 3)"
Federated States of Micronesia,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Jamaica,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Dominican Republic,"List(1, 2, 3)"
Japan,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Finland,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Aruba,"List(1, 2, 3)"
French Guiana,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
India,"List(1, 2, 3)"
British Virgin Islands,"List(1, 2, 3)"
Brazil,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
French Polynesia,"List(1, 2, 3)"
United Arab Emirates,"List(1, 2, 3)"
Singapore,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Netherlands,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Denmark,"List(1, 2, 3)"
China,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Cayman Islands,"List(1, 2, 3)"
Argentina,"List(1, 2, 3)"
Peru,"List(1, 2, 3)"
South Africa,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Spain,"List(1, 2, 3)"
Bermuda,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Kiribati,"List(1, 2, 3)"
Saudi Arabia,"List(1, 2, 3)"
Czech Republic,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Belgium,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Curacao,"List(1, 2, 3)"
Georgia,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Philippines,"List(1, 2, 3)"
Grenada,"List(1, 2, 3)"
Cape Verde,"List(1, 2, 3)"
Cote d'Ivoire,"List(1, 2, 3)"
Ukraine,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Russia,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Guatemala,"List(1, 2, 3)"
Saint Lucia,"List(1, 2, 3)"
Paraguay,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Kosovo,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Tunisia,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Niger,"List(1, 2, 3)"
Turkey,"List(1, 2, 3)"
United Kingdom,"List(1, 2, 3)"
Romania,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Papua New Guinea,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Iraq,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Cuba,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Dominica,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Portugal,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Bahrain,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Indonesia,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Belize,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Nicaragua,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Austria,"List(1, 2, 3)"
Jordan,"List(1, 2, 3)"
Palau,"List(1, 2, 3)"
South Korea,"List(1, 2, 3)"
Angola,"List(1, 2, 3)"
Ghana,"List(1, 2, 3)"
New Caledonia,"List(1, 2, 3)"
Guadeloupe,"List(1, 2, 3)"
France,"List(1, 2, 3)"
Poland,"List(1, 2, 3)"
Nigeria,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Greenland,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Chile,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Australia,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Cook Islands,"List(1, 2, 3)"
Bulgaria,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
Uruguay,"List(1, 2, 3)"
United States,"List(1, 2, 3)"
"Bonaire, Sint Eustatius, and Saba","List(1, 2, 3)"
Greece,"List(1, 2, 3)"

In [0]:
%sql
SHOW SYSTEM FUNCTIONS

function
!
!=
%
&
*
+
-
/
<
<=
<=>
<>
=
==
>
>=
^
abs
acos
acosh
add_months
aes_decrypt
aes_encrypt
aggregate
ai_generate_text
ai_query
and
any
any_value
approx_count_distinct
approx_percentile
approx_top_k
array
array_agg
array_append
array_compact
array_contains
array_distinct
array_except
array_insert
array_intersect
array_join
array_max
array_min
array_position
array_prepend
array_remove
array_repeat
array_size
array_sort
array_union
arrays_overlap
arrays_zip
ascii
asin
asinh
assert_true
atan
atan2
atanh
avg
base64
between
bigint
bin
binary
bit_and
bit_count
bit_get
bit_length
bit_or
bit_reverse
bit_xor
bitmap_bit_position
bitmap_bucket_number
bitmap_construct_agg
bitmap_count
bitmap_or_agg
bool_and
bool_or
boolean
bround
btrim
cardinality
case
cast
cbrt
ceil
ceiling
char
char_length
character_length
charindex
chr
cloud_files
cloud_files_state
coalesce
collect_list
collect_set
concat
concat_ws
contains
conv
convert_timezone
corr
cos
cosh
cot
count
count_if
count_min_sketch
covar_pop
covar_samp
crc32
csc
cume_dist
curdate
current_catalog
current_database
current_date
current_metastore
current_oauth_custom_identity_claim
current_schema
current_timestamp
current_timezone
current_user
current_version
date
date_add
date_diff
date_format
date_from_unix_date
date_part
date_sub
date_trunc
dateadd
datediff
datepart
day
dayofmonth
dayofweek
dayofyear
decimal
decode
degrees
dense_rank
div
double
e
element_at
elt
encode
endswith
equal_null
event_log
every
exists
exp
explode
explode_outer
expm1
extract
factorial
filter
find_in_set
first
first_value
flatten
float
floor
forall
format_number
format_string
from_csv
from_json
from_unixtime
from_utc_timestamp
get
get_json_object
getbit
getdate
greatest
grouping
grouping_id
h3_boundaryasgeojson
h3_boundaryaswkb
h3_boundaryaswkt
h3_centerasgeojson
h3_centeraswkb
h3_centeraswkt
h3_compact
h3_coverash3
h3_coverash3string
h3_distance
h3_getpentagoncellids
h3_h3tostring
h3_hexring
h3_ischildof
h3_ispentagon
h3_isvalid
h3_kring
h3_kringdistances
h3_longlatash3
h3_longlatash3string
h3_maxchild
h3_minchild
h3_pointash3
h3_pointash3string
h3_polyfillash3
h3_polyfillash3string
h3_resolution
h3_stringtoh3
h3_tochildren
h3_toparent
h3_try_distance
h3_try_polyfillash3
h3_try_polyfillash3string
h3_try_validate
h3_uncompact
h3_validate
hash
hex
histogram_numeric
hll_cardinality_internal
hll_collect_internal
hll_sketch_agg
hll_sketch_estimate
hll_union
hll_union_agg
hour
hypot
if
iff
ifnull
ilike
in
initcap
inline
inline_outer
input_file_block_length
input_file_block_start
input_file_name
instr
int
is_account_group_member
is_member
isnan
isnotnull
isnull
java_method
json_array_length
json_object_keys
json_tuple
kurtosis
lag
last
last_day
last_value
lcase
lead
least
left
len
length
levenshtein
like
list_secrets
ln
localtimestamp
locate
log
log10
log1p
log2
lower
lpad
ltrim
luhn_check
make_date
make_dt_interval
make_interval
make_timestamp
make_timestamp_ltz
make_timestamp_ntz
make_ym_interval
map
map_concat
map_contains_key
map_entries
map_filter
map_from_arrays
map_from_entries
map_keys
map_values
map_zip_with
mask
max
max_by
md5
mean
median
min
min_by
minute
mod
mode
monotonically_increasing_id
month
months_between
named_struct
nanvl
negative
next_day
not
now
nth_value
ntile
nullif
nvl
nvl2
octet_length
or
overlay
parse_url
percent_rank
percentile
percentile_approx
pi
pmod
posexplode
posexplode_outer
position
positive
pow
power
printf
quarter
radians
raise_error
rand
randn
random
range
rank
read_files
read_kafka
read_kinesis
read_pubsub
reduce
reflect
regexp
regexp_count
regexp_extract
regexp_extract_all
regexp_instr
regexp_like
regexp_replace
regexp_substr
regr_avgx
regr_avgy
regr_count
regr_intercept
regr_r2
regr_slope
regr_sxx
regr_sxy
regr_syy
repeat
replace
reverse
right
rint
rlike
round
row_number
rpad
rtrim
schema_of_csv
schema_of_json
schema_of_json_agg
sec
second
secret
sentences
sequence
session_window
sha
sha1
sha2
shiftleft
shiftright
shiftrightunsigned
shuffle
sign
signum
sin
sinh
size
skewness
slice
smallint
some
sort_array
soundex
space
spark_partition_id
split
split_part
sql_keywords
sqrt
st_area
st_astext
st_geogfromtext
st_geogfromwkt
st_geometrytype
st_geomfromtext
st_geomfromwkt
st_isempty
st_length
st_ndims
st_npoints
st_point
st_setsrid
st_srid
st_xmax
st_xmin
st_ymax
st_ymin
stack
startswith
std
stddev
stddev_pop
stddev_samp
str_to_map
string
stringdecode
struct
substr
substring
substring_index
sum
tan
tanh
timestamp
timestamp_micros
timestamp_millis
timestamp_seconds
tinyint
to_binary
to_char
to_csv
to_date
to_json
to_number
to_timestamp
to_timestamp_ltz
to_timestamp_ntz
to_unix_timestamp
to_utc_timestamp
to_varchar
transform
transform_keys
transform_values
translate
trim
trunc
try_add
try_aes_decrypt
try_avg
try_divide
try_element_at
try_multiply
try_secret
try_subtract
try_sum
try_to_binary
try_to_number
try_to_timestamp
typeof
ucase
unbase64
unhex
unix_date
unix_micros
unix_millis
unix_seconds
unix_timestamp
upper
url_decode
url_encode
user
uuid
var_pop
var_samp
variance
version
weekday
weekofyear
when
width_bucket
window
window_time
xpath
xpath_boolean
xpath_double
xpath_float
xpath_int
xpath_long
xpath_number
xpath_short
xpath_string
xxhash64
year
zip_with
|
||
~

In [0]:
%sql
SHOW USER FUNCTIONS

function
getargument

In [0]:
%sql
SELECT dest_country_name FROM flights
GROUP BY dest_country_name ORDER BY sum(count) DESC LIMIT 5

dest_country_name
United States
Canada
Mexico
United Kingdom
Japan

In [0]:
%sql
SELECT * FROM flights
WHERE origin_country_name IN (SELECT dest_country_name FROM flights
GROUP BY dest_country_name ORDER BY sum(count) DESC LIMIT 5)

DEST_COUNTRY_NAME,ORIGIN_COUNTRY_NAME,count
Egypt,United States,15
Costa Rica,United States,588
Senegal,United States,40
Moldova,United States,1
Guyana,United States,64
Malta,United States,1
Anguilla,United States,41
Bolivia,United States,30
Algeria,United States,4
Turks and Caicos Islands,United States,230
Saint Vincent and the Grenadines,United States,1
Italy,United States,382
Pakistan,United States,12
Iceland,United States,181
Marshall Islands,United States,42
Luxembourg,United States,155
Honduras,United States,362
The Bahamas,United States,955
El Salvador,United States,561
Samoa,United States,25
Switzerland,United States,294
Sint Maarten,United States,325
Hong Kong,United States,332
Trinidad and Tobago,United States,211
Latvia,United States,19
Suriname,United States,1
Mexico,United States,7140
Ecuador,United States,268
Colombia,United States,873
Norway,United States,121
Thailand,United States,3
Venezuela,United States,290
Panama,United States,510
Antigua and Barbuda,United States,126
Morocco,United States,15
Azerbaijan,United States,21
New Zealand,United States,111
Liberia,United States,2
Hungary,United States,2
Burkina Faso,United States,1
Sweden,United States,118
Israel,United States,134
United States,United States,370002
Ethiopia,United States,13
Martinique,United States,44
Saint Barthelemy,United States,39
Barbados,United States,154
Djibouti,United States,1
Germany,United States,1468
Ireland,United States,335
Zambia,United States,1
Malaysia,United States,2
Croatia,United States,2
Cyprus,United States,1
Fiji,United States,24
Qatar,United States,108
Saint Kitts and Nevis,United States,139
Kuwait,United States,32
Taiwan,United States,266
Haiti,United States,226
Canada,United States,8399
Federated States of Micronesia,United States,69
Jamaica,United States,666
Dominican Republic,United States,1353
Japan,United States,1548
Finland,United States,26
Aruba,United States,346
French Guiana,United States,5
India,United States,61
British Virgin Islands,United States,107
Brazil,United States,853
French Polynesia,United States,43
United Arab Emirates,United States,320
Singapore,United States,3
United States,Mexico,7187
Netherlands,United States,776
Denmark,United States,153
China,United States,772
Cayman Islands,United States,314
Argentina,United States,180
Peru,United States,279
South Africa,United States,36
Spain,United States,420
Bermuda,United States,183
Kiribati,United States,26
Saudi Arabia,United States,83
Czech Republic,United States,13
Belgium,United States,259
Curacao,United States,90
Georgia,United States,2
Philippines,United States,134
Grenada,United States,53
Cape Verde,United States,20
Cote d'Ivoire,United States,1
Ukraine,United States,14
Russia,United States,176
Guatemala,United States,397
Saint Lucia,United States,123
Paraguay,United States,60
Kosovo,United States,1
Tunisia,United States,3
Niger,United States,2
Turkey,United States,138
United Kingdom,United States,2025
Romania,United States,14
Papua New Guinea,United States,3
Iraq,United States,1
Cuba,United States,466
Dominica,United States,20
United States,Japan,1496
Portugal,United States,127
Bahrain,United States,19
Indonesia,United States,1
United States,United Kingdom,1970
Belize,United States,188
United States,Canada,8483
Nicaragua,United States,179
Austria,United States,62
Jordan,United States,44
Palau,United States,30
South Korea,United States,1048
Angola,United States,15
Ghana,United States,18
New Caledonia,United States,1
Guadeloupe,United States,56
France,United States,935
Poland,United States,32
Nigeria,United States,59
Greenland,United States,2
Chile,United States,174
Australia,United States,329
Cook Islands,United States,13
Bulgaria,United States,3
Uruguay,United States,43
"Bonaire, Sint Eustatius, and Saba",United States,58
Greece,United States,30

In [0]:
%sql
SELECT * FROM flights f1
WHERE EXISTS (SELECT 1 FROM flights f2
WHERE f1.dest_country_name = f2.origin_country_name)
AND EXISTS (SELECT 1 FROM flights f2
WHERE f2.dest_country_name = f1.origin_country_name)

DEST_COUNTRY_NAME,ORIGIN_COUNTRY_NAME,count
United States,Romania,15
United States,Croatia,1
United States,Ireland,344
Egypt,United States,15
United States,India,62
United States,Singapore,1
United States,Grenada,62
Costa Rica,United States,588
Senegal,United States,40
United States,Sint Maarten,325
United States,Marshall Islands,39
Guyana,United States,64
Malta,United States,1
Anguilla,United States,41
Bolivia,United States,30
United States,Paraguay,6
Turks and Caicos Islands,United States,230
Italy,United States,382
United States,Federated States of Micronesia,69
United States,Russia,161
Pakistan,United States,12
United States,Netherlands,660
Iceland,United States,181
Marshall Islands,United States,42
Luxembourg,United States,155
Honduras,United States,362
The Bahamas,United States,955
United States,Senegal,42
El Salvador,United States,561
Samoa,United States,25
United States,Angola,13
Switzerland,United States,294
United States,Anguilla,38
Sint Maarten,United States,325
Hong Kong,United States,332
Trinidad and Tobago,United States,211
Latvia,United States,19
United States,Ecuador,300
Suriname,United States,1
Mexico,United States,7140
United States,Cyprus,1
Ecuador,United States,268
United States,Portugal,134
United States,Costa Rica,608
United States,Guatemala,318
United States,Suriname,34
Colombia,United States,873
United States,Cape Verde,14
United States,Jamaica,712
Norway,United States,121
United States,Malaysia,3
United States,Morocco,19
Thailand,United States,3
United States,Samoa,25
Venezuela,United States,290
United States,Palau,31
United States,Venezuela,246
Panama,United States,510
Antigua and Barbuda,United States,126
United States,Chile,185
Morocco,United States,15
United States,Finland,28
Azerbaijan,United States,21
United States,Greece,23
United States,The Bahamas,986
New Zealand,United States,111
Liberia,United States,2
United States,Hong Kong,414
Hungary,United States,2
United States,China,920
Sweden,United States,118
United States,Kuwait,28
United States,Dominican Republic,1420
United States,Egypt,12
Israel,United States,134
United States,United States,370002
Ethiopia,United States,13
United States,Luxembourg,134
United States,Poland,33
Martinique,United States,44
United States,Saint Barthelemy,41
Saint Barthelemy,United States,39
Barbados,United States,154
United States,Turkey,129
United States,Azerbaijan,21
Germany,United States,1468
United States,South Korea,827
United States,El Salvador,508
Ireland,United States,335
United States,Hungary,3
Malaysia,United States,2
United States,Ethiopia,12
United States,Panama,465
United States,Aruba,342
United States,Thailand,4
United States,Turks and Caicos Islands,236
Croatia,United States,2
United States,Pakistan,12
Cyprus,United States,1
United States,Honduras,407
Fiji,United States,24
Qatar,United States,108
Saint Kitts and Nevis,United States,139
Kuwait,United States,32
Taiwan,United States,266
Haiti,United States,226
Canada,United States,8399
Federated States of Micronesia,United States,69
United States,Liberia,2
Jamaica,United States,666
United States,Malta,2
Dominican Republic,United States,1353
Japan,United States,1548
Finland,United States,26
United States,Guadeloupe,59
United States,Ukraine,13
United States,France,952
United States,Norway,115
Aruba,United States,346
United States,Kiribati,35
India,United States,61
British Virgin Islands,United States,107
Brazil,United States,853
United States,Germany,1336
United States,New Zealand,74
French Polynesia,United States,43
United Arab Emirates,United States,320
Singapore,United States,3
United States,Mexico,7187
United States,Sweden,119
Netherlands,United States,776
United States,Martinique,43
United States,United Arab Emirates,313
United States,Bulgaria,1
Denmark,United States,153
China,United States,772
United States,Nicaragua,201
United States,Philippines,126
United States,Georgia,1
United States,Belgium,228
Cayman Islands,United States,314
Argentina,United States,180
Peru,United States,279
South Africa,United States,36
United States,Iceland,202
United States,Argentina,141
Spain,United States,420
Bermuda,United States,183
United States,Nigeria,50
United States,Austria,63
United States,"Bonaire, Sint Eustatius, and Saba",59
Kiribati,United States,26
Saudi Arabia,United States,83
Czech Republic,United States,13
United States,Israel,127
Belgium,United States,259
United States,Saint Lucia,136
United States,Bahrain,1
United States,British Virgin Islands,80
Curacao,United States,90
Georgia,United States,2
United States,Denmark,152
United States,Guyana,63
Philippines,United States,134
Grenada,United States,53
Cape Verde,United States,20
Ukraine,United States,14
United States,Papua New Guinea,1
Russia,United States,176
United States,Saudi Arabia,70
Guatemala,United States,397
Saint Lucia,United States,123
Paraguay,United States,60
United States,Curacao,83
United States,Taiwan,235
United States,South Africa,40
Turkey,United States,138
United Kingdom,United States,2025
Romania,United States,14
United States,Greenland,4
Papua New Guinea,United States,3
United States,Spain,442
United States,Italy,438
Cuba,United States,466
United States,Switzerland,305
Dominica,United States,20
United States,Japan,1496
Portugal,United States,127
United States,Brazil,619
Bahrain,United States,19
United States,Peru,337
Indonesia,United States,1
United States,Belize,193
United States,United Kingdom,1970
Belize,United States,188
United States,Ghana,20
United States,Indonesia,2
United States,Fiji,25
United States,Canada,8483
United States,Antigua and Barbuda,117
United States,French Polynesia,40
Nicaragua,United States,179
United States,Latvia,15
United States,Dominica,27
United States,Czech Republic,12
United States,Australia,258
United States,Cook Islands,13
Austria,United States,62
Jordan,United States,44
Palau,United States,30
South Korea,United States,1048
Angola,United States,15
Ghana,United States,18
Guadeloupe,United States,56
France,United States,935
Poland,United States,32
Nigeria,United States,59
United States,Uruguay,13
Greenland,United States,2
United States,Bermuda,193
Chile,United States,174
United States,Cuba,478
United States,Colombia,867
United States,Barbados,130
United States,Qatar,109
Australia,United States,329
United States,Cayman Islands,310
United States,Jordan,44
United States,Trinidad and Tobago,217
United States,Bolivia,13
Cook Islands,United States,13
Bulgaria,United States,3
United States,Saint Kitts and Nevis,145
Uruguay,United States,43
United States,Haiti,225
"Bonaire, Sint Eustatius, and Saba",United States,58
Greece,United States,30

In [0]:
%sql
SELECT *, (SELECT max(count) FROM flights) AS maximum FROM flights

DEST_COUNTRY_NAME,ORIGIN_COUNTRY_NAME,count,maximum
United States,Romania,15,370002
United States,Croatia,1,370002
United States,Ireland,344,370002
Egypt,United States,15,370002
United States,India,62,370002
United States,Singapore,1,370002
United States,Grenada,62,370002
Costa Rica,United States,588,370002
Senegal,United States,40,370002
Moldova,United States,1,370002
United States,Sint Maarten,325,370002
United States,Marshall Islands,39,370002
Guyana,United States,64,370002
Malta,United States,1,370002
Anguilla,United States,41,370002
Bolivia,United States,30,370002
United States,Paraguay,6,370002
Algeria,United States,4,370002
Turks and Caicos Islands,United States,230,370002
United States,Gibraltar,1,370002
Saint Vincent and the Grenadines,United States,1,370002
Italy,United States,382,370002
United States,Federated States of Micronesia,69,370002
United States,Russia,161,370002
Pakistan,United States,12,370002
United States,Netherlands,660,370002
Iceland,United States,181,370002
Marshall Islands,United States,42,370002
Luxembourg,United States,155,370002
Honduras,United States,362,370002
The Bahamas,United States,955,370002
United States,Senegal,42,370002
El Salvador,United States,561,370002
Samoa,United States,25,370002
United States,Angola,13,370002
Switzerland,United States,294,370002
United States,Anguilla,38,370002
Sint Maarten,United States,325,370002
Hong Kong,United States,332,370002
Trinidad and Tobago,United States,211,370002
Latvia,United States,19,370002
United States,Ecuador,300,370002
Suriname,United States,1,370002
Mexico,United States,7140,370002
United States,Cyprus,1,370002
Ecuador,United States,268,370002
United States,Portugal,134,370002
United States,Costa Rica,608,370002
United States,Guatemala,318,370002
United States,Suriname,34,370002
Colombia,United States,873,370002
United States,Cape Verde,14,370002
United States,Jamaica,712,370002
Norway,United States,121,370002
United States,Malaysia,3,370002
United States,Morocco,19,370002
Thailand,United States,3,370002
United States,Samoa,25,370002
Venezuela,United States,290,370002
United States,Palau,31,370002
United States,Venezuela,246,370002
Panama,United States,510,370002
Antigua and Barbuda,United States,126,370002
United States,Chile,185,370002
Morocco,United States,15,370002
United States,Finland,28,370002
Azerbaijan,United States,21,370002
United States,Greece,23,370002
United States,The Bahamas,986,370002
New Zealand,United States,111,370002
Liberia,United States,2,370002
United States,Hong Kong,414,370002
Hungary,United States,2,370002
United States,China,920,370002
United States,Vietnam,2,370002
Burkina Faso,United States,1,370002
Sweden,United States,118,370002
United States,Kuwait,28,370002
United States,Dominican Republic,1420,370002
United States,Egypt,12,370002
Israel,United States,134,370002
United States,United States,370002,370002
Ethiopia,United States,13,370002
United States,Luxembourg,134,370002
United States,Poland,33,370002
Martinique,United States,44,370002
United States,Saint Barthelemy,41,370002
Saint Barthelemy,United States,39,370002
Barbados,United States,154,370002
United States,Turkey,129,370002
Djibouti,United States,1,370002
United States,Azerbaijan,21,370002
United States,Estonia,1,370002
Germany,United States,1468,370002
United States,South Korea,827,370002
United States,El Salvador,508,370002
Ireland,United States,335,370002
United States,Hungary,3,370002
Zambia,United States,1,370002
Malaysia,United States,2,370002
United States,Ethiopia,12,370002
United States,Panama,465,370002
United States,Aruba,342,370002
United States,Thailand,4,370002
United States,Turks and Caicos Islands,236,370002
Croatia,United States,2,370002
United States,Pakistan,12,370002
Cyprus,United States,1,370002
United States,Honduras,407,370002
Fiji,United States,24,370002
Qatar,United States,108,370002
Saint Kitts and Nevis,United States,139,370002
Kuwait,United States,32,370002
Taiwan,United States,266,370002
Haiti,United States,226,370002
Canada,United States,8399,370002
Federated States of Micronesia,United States,69,370002
United States,Liberia,2,370002
Jamaica,United States,666,370002
United States,Malta,2,370002
Dominican Republic,United States,1353,370002
Japan,United States,1548,370002
United States,Lithuania,1,370002
Finland,United States,26,370002
United States,Guadeloupe,59,370002
United States,Ukraine,13,370002
United States,France,952,370002
United States,Norway,115,370002
Aruba,United States,346,370002
French Guiana,United States,5,370002
United States,Kiribati,35,370002
India,United States,61,370002
British Virgin Islands,United States,107,370002
Brazil,United States,853,370002
United States,Germany,1336,370002
United States,New Zealand,74,370002
French Polynesia,United States,43,370002
United Arab Emirates,United States,320,370002
Singapore,United States,3,370002
United States,Mexico,7187,370002
United States,Sweden,119,370002
Netherlands,United States,776,370002
United States,Martinique,43,370002
United States,United Arab Emirates,313,370002
United States,Bulgaria,1,370002
Denmark,United States,153,370002
China,United States,772,370002
United States,Nicaragua,201,370002
United States,Philippines,126,370002
United States,Georgia,1,370002
United States,Belgium,228,370002
Cayman Islands,United States,314,370002
Argentina,United States,180,370002
Peru,United States,279,370002
South Africa,United States,36,370002
United States,Iceland,202,370002
United States,Argentina,141,370002
Spain,United States,420,370002
Bermuda,United States,183,370002
United States,Nigeria,50,370002
United States,Austria,63,370002
United States,"Bonaire, Sint Eustatius, and Saba",59,370002
Kiribati,United States,26,370002
Saudi Arabia,United States,83,370002
Czech Republic,United States,13,370002
United States,Israel,127,370002
Belgium,United States,259,370002
United States,Saint Lucia,136,370002
United States,Bahrain,1,370002
United States,British Virgin Islands,80,370002
Curacao,United States,90,370002
Georgia,United States,2,370002
United States,Denmark,152,370002
United States,Guyana,63,370002
Philippines,United States,134,370002
Grenada,United States,53,370002
Cape Verde,United States,20,370002
Cote d'Ivoire,United States,1,370002
Ukraine,United States,14,370002
United States,Papua New Guinea,1,370002
Russia,United States,176,370002
United States,Saudi Arabia,70,370002
Guatemala,United States,397,370002
Saint Lucia,United States,123,370002
Paraguay,United States,60,370002
United States,Curacao,83,370002
Kosovo,United States,1,370002
United States,Taiwan,235,370002
Tunisia,United States,3,370002
United States,South Africa,40,370002
Niger,United States,2,370002
Turkey,United States,138,370002
United Kingdom,United States,2025,370002
Romania,United States,14,370002
United States,Greenland,4,370002
Papua New Guinea,United States,3,370002
United States,Spain,442,370002
Iraq,United States,1,370002
United States,Italy,438,370002
Cuba,United States,466,370002
United States,Switzerland,305,370002
Dominica,United States,20,370002
United States,Japan,1496,370002
Portugal,United States,127,370002
United States,Brazil,619,370002
Bahrain,United States,19,370002
United States,Peru,337,370002
Indonesia,United States,1,370002
United States,Belize,193,370002
United States,United Kingdom,1970,370002
Belize,United States,188,370002
United States,Ghana,20,370002
United States,Indonesia,2,370002
United States,Fiji,25,370002
United States,Canada,8483,370002
United States,Antigua and Barbuda,117,370002
United States,French Polynesia,40,370002
Nicaragua,United States,179,370002
United States,Latvia,15,370002
United States,Dominica,27,370002
United States,Czech Republic,12,370002
United States,Australia,258,370002
United States,Cook Islands,13,370002
Austria,United States,62,370002
Jordan,United States,44,370002
Palau,United States,30,370002
South Korea,United States,1048,370002
Angola,United States,15,370002
Ghana,United States,18,370002
New Caledonia,United States,1,370002
Guadeloupe,United States,56,370002
France,United States,935,370002
Poland,United States,32,370002
Nigeria,United States,59,370002
United States,Uruguay,13,370002
Greenland,United States,2,370002
United States,Bermuda,193,370002
Chile,United States,174,370002
United States,Cuba,478,370002
United States,Montenegro,1,370002
United States,Colombia,867,370002
United States,Barbados,130,370002
United States,Qatar,109,370002
Australia,United States,329,370002
United States,Cayman Islands,310,370002
United States,Jordan,44,370002
United States,Namibia,1,370002
United States,Trinidad and Tobago,217,370002
United States,Bolivia,13,370002
Cook Islands,United States,13,370002
Bulgaria,United States,3,370002
United States,Saint Kitts and Nevis,145,370002
Uruguay,United States,43,370002
United States,Haiti,225,370002
"Bonaire, Sint Eustatius, and Saba",United States,58,370002
Greece,United States,30,370002

In [0]:
%sql
SET spark.sql.shuffle.partitions=20

key,value
spark.sql.shuffle.partitions,20

In [0]:
dbutils.fs.unmount(mount_point)

/mnt/pysparkcontainer has been unmounted.

True